[2010-03-17 21:44] noctivityinc opened #1 "BUG: subscription.change fails"
When I try to use subscription.change, such as

[code]

it crashes with the following:

[code]

[2010-10-14 05:37] kainosnoema opened #4 "subscription.change fails when account_code is a number"
Inside the subscription.change() method, CGI::escape throws an error when passed a number (Fixnum, etc). The line below should read:

[code]

[2010-10-14 06:27] #1 closed, assigned to nobody

[2010-10-14 13:25] #4 closed, assigned to nobody

[2010-10-28 14:36] bartoszrega opened #6 "Recurly::Account.list not working"
Recurly::Account.list and .find(:all) returns an empty array while obviously I have an active account: http://d.pr/evAh

Everything is working on "test" recurly environment

[code]

Asking for certain account finds it:

[code]

[2010-10-30 02:51] #6 closed, assigned to nobody

[2010-12-25 05:54] masterkain opened #8 "Update builder dependency"
Hello,
I was investigating while in my Rails project I couldn't update gems anymore through bundler.

After some debugging it seems Recurly is the culprit:

[code]

It would be nice to upgrade the Builder dependency to something more recent: http://rubygems.org/gems/builder/versions

Thanks

[2010-12-25 05:55] #8 closed, assigned to nobody

[2011-01-28 03:04] burlesona opened #10 "Documentation Incorrect"
In the documentation it says you can use "Recurly.config_via_yaml()". In fact, it's "Recurly.config_from_yaml()". "Recurly.config_from_json()" is available as well, but is not mentioned in the docs. This should be corrected.

[2011-02-20 20:29] nirvdrum opened #12 "Recurly::Subscription should catch invalid dates"
Recurly will raise a 500 when invalid dates are used.  For example, setting a :trial_expires_at value in the past will result in a 500 (and a not so helpful error message).  Since these types of things can be caught before ever hitting the server, it'd be nice if a local validation raised a pertinent error message.

[2011-02-20 20:31] nirvdrum opened #13 "Validation errors should match local field names"
The validation errors returned on BillingInformation and CreditCard are of marginal value because they're all added to `base` and use unfriendly names like `billing info.address1`.  It looks like you're relying on the default behavior in ActiveResource for translating error XML into validation error messages.  It'd be nice if the client added some extra logic and added the errors to the correct fi

[2011-02-20 20:33] nirvdrum opened #14 "The Recurly::Subscription#change method should update local timeframe value"
The Recurly::Subscription#change method sends over a put request with the timeframe param, but it does not store this value locally.  As such, any future operations on that subscription object need to ensure the value is set or risk getting a 500 from Recurly.

[2011-02-20 20:34] nirvdrum opened #15 "The Recurly::Subscription#change method should update state value"
If a subscription is in a 'canceled' state and the Recurly::Subscription#change method is called, such that it would reactivate a subscription, the local subscription state value is still 'canceled'.  It'd be nice if the `change` method parsed the return response and updated local values accordingly.  Otherwise an additional call to refresh the subscription is required.

[2011-02-20 23:51] nirvdrum opened #16 "Recurly::Account should allow coupon assignment"
It's currently possible to retrieve the coupon associated with an account, but there's no corresponding method for applying a coupon to an account.

[2011-02-21 21:33] manlycode opened #17 "Docs should make note that you can specify the configs as an environment variable."
I re-invented the wheel before I noticed lib/recurly.rb:57 This is the bee's knees for those of us on Heroku.

Please point this out explicitly in the README.

[2011-04-05 17:20] nirvdrum opened #21 "Add Changelog"
Please add a Changelog for the project.  It's really difficult to figure out whether I should upgrade otherwise.  While I can dig through the entire commit list, that's a pain in the neck at best and I may not totally understand why a change was made.

[2011-04-18 02:03] jsmestad opened #23 "Incorrect Error Message"
This line: https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/subscription.rb#L60

should read that its :now or :renewal, not :full.

[2011-04-18 17:49] #23 closed, assigned to nobody

[2011-05-15 21:01] jsmestad opened #24 "rake recurly:clear_test_data does not work"
https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/rails3/recurly.rake#L10

This does not work and throws a 401 unauthorized error.

Trace output can be seen here: https://gist.github.com/973534

[2011-05-23 21:27] stantonwjones opened #25 "Subscription specs should pass/fail appropriately"
specs for subscription are failing when the results can be gotten without issue through the console.

[2011-06-27 10:59] guniskandar41studio opened #27 "Error to get the Invoice list"
Hi all,

I have problem with this gem.
I can not to get the invoice list. I'm not sure why, it have worked before.

There is something wrong with my code?
Please let me know any thought about this.
Thanks.

[2011-06-28 03:39] #27 closed, assigned to nobody

[2011-08-02 16:26] heathd opened #30 "Error handling appears broken in 0.4.8"
Hi,

we noticed that in v0.4.8 the error handling appears to be broken. I've included below some example code which reproduces the problem. It works ok in v0.4.2 (although for some reason the error message came out in french for me).

[code]
# Expected output

[code]
# Actual

[code]

[2011-08-22 20:49] TCampaigne opened #32 "Error handling in transparent posts throws an exception in 0.4.10"
Whenever a credit card validation through the Transparent API fails, the gem throws the exception:

[code]

Looking at the source, looks this line https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/transparent.rb#L114 is the culprit, as the second "true" argument seems to not match up to anything.

[2011-08-23 01:18] #32 closed, assigned to nobody

[2011-08-23 01:19] #30 closed, assigned to nobody

[2011-08-23 01:21] #21 closed, assigned to nobody

[2011-09-18 00:24] blairsilverberg opened #36 "incorrect use of logger in base.rb"
I am running into this error only when i am using the production recurly environment (my gateway - auth.net - is in test mode).

NoMethodError (private method `warn' called for nil:NilClass):
2011-09-17T23:53:53+00:00 app[web.1]:   .bundle/gems/ruby/1.9.1/gems/recurly-0.4.11/lib/recurly/base.rb:103:in`rescue in load_errors'

Looking at the code, it appears logger.warn is used in the file without e

[2011-09-21 23:30] mikepack opened #37 "BillingInfo#valid? should check validity of :credit_card"
In certain situations, BillingInfo#valid? will return true even though the underlying credit card is not valid, for instance, billing.info.valid? will return true with the following structure:

[code]

Therefore, BillingInfo#valid? should check self.errors.blank? as well as self.credit_card.errors.blank?

I'm on Ruby 1.9.2p290, Rails 3.1.0 and Recurly 0.4.12

[2011-10-27 01:11] #12 closed, assigned to nobody

[2011-10-27 01:13] #13 closed, assigned to nobody

[2011-10-27 01:16] #14 closed, assigned to nobody

[2011-10-27 01:18] #15 closed, assigned to nobody

[2011-10-27 01:22] #16 closed, assigned to nobody

[2011-10-27 01:23] #25 closed, assigned to nobody

[2011-10-27 03:26] thailehuy opened #38 "Invalid xml generated by to_xml"
Code

[code]

Expected result

[code]

Actual result

[code]

[2011-10-27 18:10] #38 closed, assigned to nobody

[2011-10-27 20:02] #37 closed, assigned to nobody

[2011-10-27 20:07] #36 closed, assigned to nobody

[2011-10-27 20:24] #17 closed, assigned to nobody

[2011-10-27 20:26] #10 closed, assigned to nobody

[2011-10-27 20:28] #24 closed, assigned to nobody

[2011-11-01 23:24] mendable opened #39 "OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed"
Hi,

Running Ruby 1.9.2-p290.

I'm getting this error:
OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed

Raised from:
/usr/lib/ruby/1.9.1/net/http.rb, line 678

The issue is that the net http instance is not configured with the path to my local SSL certificates, hence it is failing to verify the peer SSL certificate.

The probl

[2011-11-01 23:43] #39 closed, assigned to nobody

[2011-11-04 11:02] phuong-nguyen opened #40 "Cannot create plan with recurly 2.0.x on Rails 3.0 & 3.1"
This piece of code failed miserably on our end:
plan = Recurly::Plan.create(
  :plan_code            => "gold",
  :name                 => "The Gold Plan",
  :unit_amount_in_cents => 79_00
)

Here is the back trace:

NoMethodError: undefined method `instruct!' for <unit_amount_in_cents/>:Recurly::XML
    from /Users/eastagile3/.rvm/gems/ruby-1.9.3-p0@bullseyehub/gems/activesupport-3.1.1/lib/active

[2011-11-04 22:51] #40 closed, assigned to nobody

[2011-11-11 11:34] cstadach opened #44 "A"

[2011-11-11 11:36] #44 closed, assigned to nobody

[2011-11-29 16:33] cstadach opened #45 "Receiving of AddOns via a subscription doesn't work"
The API returns the proper values for each add-on booked within a subscription
the ruby client library only returns the first add-on

[2011-12-10 01:45] #45 closed, assigned to nobody

[2011-12-11 06:58] forrest opened #47 "Updating trial subscription"
After this big API rewrite, is there still no way to change a subscription while it's in trial without it instantly billing the client?

[2011-12-11 07:14] forrest opened #48 "Subscription Deletion"
Hey,

I don't know if this is the API or the gem, but I can't destroy a subscription. I get a Recurly::Resource::NotFound error. The subscription definitely exists.

Forrest

[2011-12-12 23:55] #48 closed, assigned to nobody

[2011-12-13 22:02] #47 closed, assigned to nobody

[2012-01-06 02:11] lpdahito opened #52 "Getting "Recurly::ConfigurationError: Recurly.api_key not configured" error"
I'm getting a configuration error when I'm providing my Recurly credentials as mentioned in the README file using rails 3.1:
# /config/initializers/recurly.rb

Recurly.api_key        = ENV['RECURLY_API_KEY']
Recurly.js.private_key = ENV['RECURLY_JS_PRIVATE_KEY']

This is the error I'm getting: Recurly::ConfigurationError: Recurly.api_key not configured

When I provide a string instead of using the

[2012-01-06 02:16] #52 closed, assigned to nobody

[2012-01-17 19:09] nhance opened #54 "Subscription cannot be created on account if no subscriptions exist"
The docs say you can do `account.subscriptions.create`.

I get a `NoMethodError: create on []` when I attempt this.

[2012-01-25 19:07] #54 closed, assigned to nobody

[2012-01-31 15:25] rebagliatte opened #56 "undefined method `sign_subscription' for Recurly.js:Module"
I was having this error while trying to migrate to Recurly js v2 and therefore, having to add signatures to my requests.

I fixed this error by replacing this line:
`gem 'recurly', '~> 2.0.10'`

with this one:
`gem 'recurly', :git => 'https://github.com/recurly/recurly-client-ruby.git', :branch => 'master'`

[2012-01-31 16:33] #56 closed, assigned to nobody

[2012-02-09 14:19] mfgoalie opened #58 "BillingInfo::New"
First, just wanted to say thanks for this. The gem was working great for v1, just had a question about the v2 setup.

I'm trying to use the jsv2 branch so I can use the new Recurly API and am having an issue everytime I use:

Recurly::BillingInfo.new

I get:

private method `new' called for Recurly::BillingInfo:Class

Is there a new way that's done in this setup?

I'm using Rails 3.2.1 and ruby 1.

[2012-02-09 17:35] #58 closed, assigned to nobody

[2012-03-14 07:21] gorman opened #60 "Invalid signature generated when including add_ons"
I'm using RecurlyJS and am trying to include the details of my add-ons when generating a subscription signature. Basically, the signature generation code looks like this:

Recurly.js.sign(
          :account => { :account_code => "example" },
          :subscription => {
                    :plan_code => "example",
                    :add_ons => [
                              { :add_on_code => "

[2012-03-14 18:32] #60 closed, assigned to nobody

[2012-03-14 18:42] grossjo opened #61 "Support For Transparent Post"
Is there a reason support for transparent post was dropped in version 2 of the gem?

[2012-04-09 21:03] ScotterC opened #63 "Updating a Subscription's Add Ons"
If you update a subscription like so:

[code]

It fails on line 35 of the recurly helper with 'each_pair' method.  This is because [:add_on_code, "add-on-code"] is getting passed as an array instead of [{:add_on_code, "1944"}].

The short method,

[code]

seems to work just fine.

[2012-04-17 00:45] #63 closed, assigned to nobody

[2012-04-17 01:00] #61 closed, assigned to nobody

[2012-04-17 19:49] uberllama opened #64 "NoMethodError: undefined method `strip' for nil:NilClass"
Hey guys. We're trying to upgrade from 2.0ish to the latest branch and are getting this error when calling Recurly::Account.find, only in the test env. Ring any bells?

[2012-04-18 18:26] #64 closed, assigned to nobody

[2012-04-24 21:50] lucasefe opened #66 "undefined method `from_xml' when retrieving existing Account"
I am getting the following error when trying to retrieve an existing account:

[code]

The code I'm executing is very simple:

[code]

For what I saw, the returned status element does not include a type attribute, so the Recurly::XML class is trying to do some magic.

Any idea? Anything will be helpful.

Thanks

[2012-04-25 00:32] #66 closed, assigned to nobody

[2012-06-04 04:17] forrest opened #70 "Problem with Addons"
Hey,

I just upgraded my version of this gem, and I'm suddenly receiving an error when saving a subscription with addons.

undefined method `invalid!' for {"add_on_code"=>"my_addon_name"}:Hash

Any ideas? Thanks,

Forrest

[2012-06-05 19:13] #70 closed, assigned to nobody

[2012-06-27 15:06] nhance opened #71 "Subscription#all does not return all records as expected, only the first page"
This is more of a design issue than a bug in particular. The `Subscription#all` method doesn't return all records as expected, but only the first 50. I expect this is a problem across all resources.

We've changed to use the `find_each` method, but I suggest we remove `Resource#all` unless it can act as expected.

[2012-08-22 13:52] nateberkopec opened #75 "Subscription creation fails with a valid coupon_code parameter"
This does not work:

[code]

This works:

[code]

Not sure why this is happening or if this is an issue with the API itself or with this gem. The first block returns an invalid coupon code error, the second does not.

[2012-08-30 19:22] codenamev opened #76 "1.9.3 scoping issue"
when using with ruby 1.9.3, I am now getting a ton of these warnings with my rspec output:

[code]

[2012-08-30 21:28] ScotterC opened #77 "Changelog"
Could you guys start keeping a Changelog or history file?  It's hard to pull out the major changes from one version to the next by reading commits or compare views.

[2012-08-30 23:32] #77 closed, assigned to nobody

[2012-09-12 20:13] #75 closed, assigned to nobody

[2012-09-18 22:08] stephencelis opened #79 "Better expose transaction errors"
Transaction errors are currently only accessible when they are thrown or by
calling `transaction[:transaction_error]` on a record fetched from the API.

[2012-09-20 19:17] bigfolio opened #80 "Error getting an account's transactions"
I'm able to successfully get an Account and it's invoices but when I attempt to get it's transactions, I get this:

irb(main):023:0> account_code = "XYZ"
=> "XYZ"

irb(main):026:0> account = Recurly::Account.find(account_code)
=> [all good here]

irb(main):027:0> account.invoices
=> [all good here]

irb(main):028:0> account.transactions
ArgumentError: wrong number of arguments (0 for 1)
    from /

[2012-09-20 21:47] #80 closed, assigned to nobody

[2012-09-25 11:21] anka opened #81 "Marshalling objects"
In our project we want to cache the product plans from the recurly service. As a first solution we wanted to put the result into the rails cache like the following:

[code]

This approach results in the following error:

[code]

Are there any suggestions how to solve this problem like providing custom _marshal_dump_ and _marshal_load_ methods?

[2012-09-25 18:38] #81 closed, assigned to nobody

[2012-10-05 20:44] j27lee opened #83 "Pending subscription no longer a Subscription object."
Sometime between 2.1.1 and 2.1.2, pending_subscription became a hash instead of a Recurly subscription object.   I can work around it, but not sure if that was by design.

[2012-10-10 22:50] mcrowe opened #84 "Subscription add-ons caching prevents updating add-ons"
You cannot update subscription add-ons after you have read them. E.g.:

[code]

Expected Result:
The newly updated add-ons are returned.

Actual Result:
The original add-ons are returned.

This results in the following error when trying to update add-ons after reading them:

[code]

That's because of another bug in the `Resource#to_xml` when trying to generate xml from the add-ons array.

This bug

[2012-10-19 02:54] kainosnoema opened #85 "Problem creating subscription with SubscriptionAddOn objects"
SubscriptionAddOn objects can no longer be used to create a subscription. Only an array of add on codes is accepted. This is most likely due to the way add-ons are now being instantiated on the Subscription object due to commit 0aa5a6f from issue #70.

[code]

This also means that updating the amount_in_cents of an add-on isn't fully supported anymore.

[2012-10-23 00:51] #85 closed, assigned to nobody

[2012-10-23 00:52] #84 closed, assigned to nobody

[2012-10-23 22:31] #76 closed, assigned to nobody

[2012-10-23 23:29] #83 closed, assigned to nobody

[2012-10-24 00:29] #79 closed, assigned to nobody

[2013-01-23 00:51] driedtoast opened #89 "Doc updates for http://docs.recurly.com/api/plans"
Could you update the "Update Plan" section for ruby on the  http://docs.recurly.com/api/plans.

It shows an example like:

`plan.setup_fee_in_cents['EUR'] = 50_00` which didn't work for me. Instead this is what did

`plan.setup_fee_in_cents = { 'EUR' => 5000 }`

Not sure who owns the docs for the Recurly main site, just thought i would post here so you would have the info. Also you do `50_00` in t

[2013-02-13 23:01] sdornan opened #90 "Can't set description on Coupon"
I don't seem to be able to set the invoice description when I create coupons. It seems that maybe there's a mismatch between the Ruby library and the Recurly backend. The Coupon object in the API documentation says to set an invoice_description attribute (https://docs.recurly.com/api/coupons), while the Ruby library code uses a description attribute (https://github.com/recurly/recurly-client-ruby/

[2013-02-26 20:14] colllin opened #92 "Recurly::Account.find -- error on account codes containing spaces"
Fixed using

[code]

but it would be nice if the recurly gem helped you out with that.  (I shouldn't have to know about the internal workings, or especially have to modify my code based on the fact that you pass the account code directly as a URL fragment)

[2013-02-28 02:50] drewish opened #93 "Document the various exceptions that can be thrown"
Currently, we only document the exceptions we throw (`Recurly::API::ResponseError`s) but there are quite a few other errors that could bubble up from net/http. It would be good to provide a list of these e.g. `SocketError` and `SystemCallError`.

[2013-03-22 13:29] adie opened #94 "undefined method `empty?` for nil:NilClass"
When we have account on recurly and try to check for emptyness but get this:

[code]

Tried latest version of recurly gem (2.1.8) - still no luck.

As a workaround I use `not Recurly::Account.first.subscriptions.any?` right now - which works for some reason

[2013-04-02 16:05] ScotterC opened #98 "Canceling a subscription returns false without any attached errors"
When I call cancel on a subscription object.  It just returns false.  There are no attached errors.  The subscription is 'active'.  I am also fully able to cancel it on the dashboard.

Version 2.1.8.  From the code it's supposed to return false if not active but that's not the case. Calling reload on the subscription fixed the issue but it seems odd that that needs to happen everytime.

[2013-04-04 23:00] #92 closed, assigned to nobody

[2013-04-04 23:03] #71 closed, assigned to nobody

[2013-04-04 23:09] #94 closed, assigned to nobody

[2013-04-05 00:01] #90 closed, assigned to nobody

[2013-04-05 00:19] #89 closed, assigned to nobody

[2013-04-23 22:23] hgcode opened #99 "Transaction object is filled with nil values when there were some credits in the Sub after a Transaction.create call"
If you call transactions.create(...) etc,.. on a sub that has credits, and the transaction amount is less than those credits. Recurly returns a 204 no content msg, but the gem returns you just the Transaction object filled with nil stuff...

Confirmed this issue with Recurly's support, you might want to make this a bit smarter, save people some headaches.

Also, calling the transaction.create does

[2013-05-09 20:47] BlaneCordes opened #100 "line_item_product_code"
When I get invoices from the api they are not including the line_item_product_code, however in the report I download manually from the website it has the line_item_product_code for the invoice line item

[2013-06-22 19:57] johncblandii opened #105 "Docs say to set Recurly.subdomain but it does not exist on the module"
[code]

[code]

[Docs](http://rubydoc.info/gems/recurly/2.1.5/frames) don't have it either. Simple doc fix here is all.

[2013-07-01 16:23] #105 closed, assigned to nobody

[2013-08-03 15:25] colllin opened #110 "Can't access account subscriptions if account code contains a space character (' ')"
For example, an account with account_code 'Bakery West' can be successfully read as an account, but when you try to access the subscriptions, there is an error.

This code:

[code]

Produces this error:

[code]

[2013-09-12 13:23] arronmabrey opened #114 "Missing add_on "accounting_code" getter method"
Based on these docs (in "Lookup an add-on " and "Create an add-on" sections)
http://docs.recurly.com/api/plans/add-ons

AddOns have an `accounting_code` attribute. I can create an add_on just fine by passing `accounting_code` as one of the attributes. But there is no getter method defined.

Ie.

[code]

[2013-09-17 16:33] benedictfischer09 opened #115 "missing subscription getters"
The following information comes back in XML but isn't available in the ruby subscription object
- plan
  -plan_code
  -name
- remaining_billing_cycles
- current_period_started_at

Hopefully that can change soon!
Thanks

[2013-09-27 18:03] s2t2 opened #117 ".find_each throws Timeout::Error on the last page"
Hi,

I'm writing to describe an error I've been running into, namely that the .find_each method gets to the last page of Transactions, then throws a Timeout::Error.

This error happens regardless of the page size, from 1 to 200.

But for me the error only happens for Transactions, not any of the other objects. I'm not sure if this Transaction-specific behavior is due to the nature of Transactions

[2013-09-27 22:07] ScotterC opened #118 "Account reload #=> Resource not Found"
Sadly, a lot of our recurly account's account_code's are the user's email addresses.  This is unfortunate but I haven't been able to change it.  I think this was the default many years ago when we started using recurly and didn't specify account_codes.

Recently, some routine recurly code stopped working.  Here's what's happening:

Fetching a Recurly::Account

[code]

The `@` is getting escaped an

[2013-09-29 20:11] #118 closed, assigned to nobody

[2013-11-08 00:05] brianp opened #119 "Resource#valid? Throws NoMethodError"
https://github.com/recurly/recurly-client-ruby/blob/a99a3ff6d97b96cf91c6f56be92e3f8d6facc368/lib/recurly/resource.rb#L769

It would seem `#changed_attributes?` is not a declared method.

[2013-11-09 00:10] #119 closed, assigned to nobody

[2013-11-15 22:59] aheckmann opened #123 "add CONTRIBUTING.md"

[2013-12-06 01:16] #98 closed, assigned to nobody

[2013-12-10 16:16] jazminschroeder opened #124 "Get coupon information for a specific plan"
There is a JSONP endpoint to handle this case but it would be good to expose this information in the Ruby API as well.

Thoughts?

[2014-02-27 20:08] #117 closed, assigned to nobody

[2014-03-29 08:54] umarana opened #136 "errors not working"
[code]

it will print "Successfully Created" event its not

[2014-05-21 18:38] hkmaly opened #141 "Missing remaining_billing_cycles in Subscription object"
In Subscription object, there is defined accessor for total_billing_cycles but none for remaining_billing_cycles. The field is in XML so I suppose it's bug.

[2014-05-22 21:16] #141 closed, assigned to nobody

[2014-08-18 21:10] andrewarrow opened #146 "Net::ReadTimeout setting shorter timeout?"
I tried changing the Recurly::API.base_uri value to

http://localhost:3001/

and made a small rails app that just simulates a long hanging http connection. I eventually get a Net::ReadTimeout error but it takes over a minute I think.  (Default value I guess?)

Can I change this to 5 seconds or something super short? If recurly is down last thing I want is for various parts of my site (not related

[2014-11-04 18:30] #110 closed, assigned to nobody

[2014-11-16 20:24] ivanovv opened #159 "Threadsafe Recurly.api_key?"
We develop metrics app for Recurly, and extensively use threads (through Sidekiq). We have Braintree and Stripe integration in place and we’re working on getting Recurly live. But there is a problem - https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/api/net_http_adapter.rb#L47 is not threadsafe, and two operations running in parallel will use the same api key (even if started

[2014-12-10 09:36] jeremybdk opened #162 "Creating a subscription with invalid infos does not seem to raise an error"
Hello,

I am trying to add coupon support into my sign up form, but I am running into an issue.
When creating a subscription with an invalid infos, Recurly return a 422 Unprocessable Entity but it seems that does not raise an error.

So I tried in the console to create a subscription with an invalid infos, like an invalid coupon or invalid plan and it return an 422 but without raising an error.

I

[2014-12-12 14:24] #162 closed, assigned to nobody

[2014-12-16 20:32] #123 closed, assigned to nobody

[2014-12-16 20:34] #100 closed, assigned to nobody

[2014-12-16 22:13] #114 closed, assigned to nobody

[2014-12-18 01:09] #115 closed, assigned to nobody

[2015-01-06 13:40] thbar commented on #136
@umarana are you still seeing the error? (implementing similar code at the moment, so I'm wondering). Thanks!

[2015-01-06 13:45] thbar opened #172 "Add a way to clear test data via API?"
When doing testing, it would be very convenient to be able to reset the test data from the command line (via API etc). Is that something that you could consider? Thanks!

[2015-01-06 14:30] mekhovov commented on #172
:+1: vote for this

[2015-01-06 14:35] jfitisoff commented on #136
I think this will work for error checking:

[6] pry(main)> account.billing_info.save!
Recurly::Resource::Invalid: number is not a valid credit card number

or this:

[8] pry(main)> account.billing_info.errors
=> {"number"=>["is not a valid credit card number"]}

[2015-01-08 08:53] thbar commented on #172
I sent an email to support. Thanks!

[2015-01-20 12:06] ivanovv opened #174 "Recurly should escape urls for paged resources"
When we call ```resource#find```, gem escapes URLs via  ```member_path```
[code]
But when we call ```pager#find```, gem passes uuid without escaping it - https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/resource/pager.rb#L176

The result is an error similar to ```bad URI(is not URI?): https://api.recurly.com/v2/plans/access-annual2/add_ons/Golden Pro Annual```

tmp fix is to

[2015-01-20 12:51] ivanovv commented on #174
related to #92 I guess

[2015-01-26 17:37] austinheap commented on #174
Hi @ivanovv, thanks for reporting the issue. We're looking into this internally and will update you soon.

[2015-01-27 00:53] #174 closed

[2015-01-27 00:57] austinheap commented on #174
@ivanovv this has been fixed. Please let me know if you are still encountering issues.

[2015-01-27 18:00] cbarton commented on #136
This is functioning as designed. In order for an exception to be thrown please use the bang version of the `save` method, as pointed out by @jfitisoff

[2015-01-27 18:00] #136 closed

[2015-01-29 15:31] gawin opened #178 "Retrieve account balance"
The Recurly web interface shows an account 'Balance'.
The account balance is essential when using metered billing and verifying credit charges, especially if they are not invoiced yet.

Unfortunately the value of the account balance doesn't seem retrievable through the API.
By retracting the invoices total_in_cents from the adjustments total_in_cents one can calculate the same value; the account b

[2015-01-29 21:06] edann commented on #178
Hi Gawin,

Thanks for your comment. We are planning to expose this through our API shortly. Currently, it's available in APIv1. If you have any interest in trying out our future APIs, please let me know and I can add you to the beta program!

Cheers,
Emma Dannin
emma@recurly.com

[2015-01-30 12:42] gawin commented on #178
Hi Emma,

Thank you for your response and pointer to the API v1.

Workaround using API v1, might help someone else one day:

[code]

Looking forward to the official exposure of 'balance_in_cents' in the new release.

[2015-02-11 20:39] firehawkcreative opened #179 "CC data for a transaction"
When retrieving a transaction, there doesn't seem to be a way to access the CC info for that transaction. The API does return it in the XML, but it's not accessible with the gem.

[2015-02-17 22:26] austinheap commented on #179
Hi @firehawkcreative. Could you tell what fields are you referring to that you're unable to access?

[2015-02-18 22:42] firehawkcreative commented on #179
I'm sorry, my mistake, I figured it out:

transaction.details['account'].billing_info.card_type

That works for me fine.

Sorry about that.

[2015-02-18 22:42] #179 closed

[2015-03-01 13:55] AlexParamonov opened #181 "Count filtered collection"
[code]
Returns total account count.
It is not a gem bug, but API.

Please remove method or implement API response for this case.

[2015-03-01 14:13] AlexParamonov commented on #181
For anyone curious, the
[code]
sends the current request

[2015-03-03 21:12] chrissrogers commented on #181
Since the account list endpoint only supports indexing by an account's `state` property, that is the only property by which you will be able to scope your `Recurly::Account` index request.

For example:

[code]

In the case you illustrate above, the best way to get the account would be to use something like the following:

[code]

[See account documentation for more detail](https://docs.recurly.co

[2015-03-10 23:03] AlexParamonov opened #182 "Incorrect request type or error in documentation"
On the https://docs.recurly.com/api/billing-info#update-billing-info-token
described a way to update billing information.

`PUT https://:subdomain.recurly.com/v2/accounts/:account_code/billing_info`

and given a Ruby example:
[code]

Which in turn send a POST request.
I took me some time to debug and find that issue is actually not on my side, but on Ruby Recurly library.

[2015-03-11 00:20] AlexParamonov opened #183 "Nil billing info"
When account does not have billing info attached, Ruby library returns nil:

[code]

But after
[code]
or
[code]

It remains `nil`

[2015-03-11 18:12] chrissrogers commented on #183
I think in this instance you will need to initialize a new BillingInfo in place of the `nil`.

[code]

[2015-03-11 18:42] AlexParamonov commented on #183
ok, that make sense.
It will be good to have it in docs as well.

[2015-03-11 18:42] #183 closed

[2015-03-13 22:24] byronduenas opened #184 "More specific errors"
Right now when an object (like Subscription) fails to create, "Recurly::API::UnprocessableEntity" will only return a generic "account is invalid" error. It would be great if I can get the element (e.g. zip code, missing country, etc) with the specific error, without having to manually parse the xml data at "errors".

[2015-03-13 22:52] austinheap commented on #184
Hi @byronduenas, thank you for your feedback. Our SDKs do not provide this pattern and implementers need to iterate over the errors hash that is provided on the object that was unprocessable.

An example hash that explains the errors might look like:

    {"address1"=>["can't be empty"], "city"=>["can't be empty"], "country"=>["can't be empty"], "number"=>["is required"], "zip"=>["can't be empty"]

[2015-03-13 22:52] #184 closed

[2015-03-13 22:56] cgerrior commented on #184
An example of this method of exception handling can be found [here](https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/resource.rb#L57-L65).

[2015-03-24 20:41] whiteotter commented on #182
Hi Alex, we'll be updating the docs to the following to ensure a PUT call on pre-existing records

[code]

[2015-03-24 21:06] AlexParamonov commented on #182
:+1:

[2015-03-25 00:32] bhelx commented on #182
Thanks for reporting @AlexParamonov

[2015-03-25 00:32] #182 closed

[2015-03-25 00:34] whiteotter commented on #182
updated docs now live at https://docs.recurly.com/api/billing-info#update-billing-info-token

[2015-04-10 14:19] sethcall opened #187 "Support for preview invoice"
I've been scanning the docs and I don't believe it's possible to use the preview invoice API: (https://docs.recurly.com/api/invoices#preview-invoice)

Would it be possible to add support for this?

Thanks,
Seth

[2015-04-10 14:21] sethcall commented on #187
Nevermind; I did one last check in the source code and noticed that Account.build_invoice appears to be this feature:

[2015-04-10 14:21] #187 closed

[2015-04-20 07:40] thbar commented on #159
@ivanovv apart from this specific API key issue, since you appear to use Recurly in a multi-threaded setup, did you meet other thread-safety issues?

[2015-04-20 20:45] ivanovv commented on #159
@thbar we use [Sidekiq](https://github.com/mperham/sidekiq)  as a multithreaded background job solution, and no thread-safety issues for the last 6 months. But we mainly use this lib in readonly mode, so YMMV.

[2015-04-20 20:47] thbar commented on #159
@ivanovv thanks for the feedback, appreciated!

[2015-05-07 11:12] assembler commented on #172
:+1:

[2015-06-26 18:00] bhelx commented on #159
Closed with: https://github.com/recurly/recurly-client-ruby/pull/190

[2015-06-26 18:00] #159 closed

[2015-06-26 18:06] #124 closed

[2015-06-26 18:25] #93 closed

[2015-06-26 18:48] bhelx commented on #146
I believe this can be set by changing the net_http params. For example, say you wanted to timeout the tcp connection process after 5 seconds and timeout a read after 30 seconds:

[code]

As you can see here, we iterate over the hash and set any net/http params given:

https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/api/net_http_adapter.rb#L23

Here is a list of possible para

[2015-06-26 18:48] #146 closed

[2015-06-26 18:58] bhelx commented on #178
@gawin balance_in_cents is currently not implemented in the API. If you are still having an issue with this please feel free to re-open and I'd be happy to discuss other possible solutions.

[2015-06-26 18:58] #178 closed

[2015-06-26 19:14] bhelx commented on #181
@AlexParamonov Please re-open if you aren't satisfied with chris' answer and we can talk about some kind of implementation to solve your problem

[2015-06-26 19:14] #181 closed

[2015-06-26 19:16] bhelx commented on #99
@hgcode @homezada I'm being told this issue was resolved. If you are still having a problem with it please re-open and I'd be happy to talk about and work on a fix.

[2015-06-26 19:16] #99 closed

[2015-06-27 04:50] AlexParamonov commented on #181
I use the one posted above:
[code]
it does what I need, thanks.

[2015-07-17 07:48] jakolehm opened #200 "Cannot create first plan addon"
`Plan#add_ons` returns array when plan does not have any addons. This causes error when trying to add one using `plan.add_ons.create`.

Maybe this is documentation bug but it would be nice to get always same behaviour when accessing `has_many` associations?

[2015-07-17 20:21] bhelx commented on #200
@jakolehm thanks for reporting

I'm going to take a look at this. I would expect `plan.add_ons.create` so I could see how that could be confusing.

[2015-07-17 20:35] bhelx commented on #200
@jakolehm I can't seem to replicate the problem. Here is the code I am using:

[code]

where `addonless` is the plan without any addons. It doesn't throw any errors, properly creates the `add_on` instance, and creates the add on in Recurly.

Could you paste some code replicating the issue and if possible paste any errors you are seeing? There may be a subtle difference in your code that is causing

[2015-07-20 07:25] jakolehm commented on #200
It seems that this happens only when plan is fetched through subscription:

[code]

It works if plan is fetched through `Recurly::Plan#find` .

[2015-07-20 07:44] jakolehm commented on #200
Forgot to mention that this happens with latest version (2.4.4)

[2015-07-21 11:36] ivanovv opened #201 "Account id starting with dot causes client to fail"
Recurly::Account.find('.some-account')
[code]
[code]

I can't tell how that account was created (we are just receiving and processing webhooks for other companies), but I think if it is possible to have such accounts, it also should be possible to retrieve them.

I've also tried `url`-escaping the dot with %2E in `curl`:
[code]
but got the same output with `HTTP/1.1 403 Forbidden`

[2015-07-21 17:49] bhelx commented on #200
@jakolehm Okay, I've replicated the problem. I'm going to look into seeing if there is a good fix for this in the next couple days. In the meantime if you want to get your code working you could try this:

[code]

[2015-07-21 17:57] bhelx commented on #201
@ivanovv This appears to be a bug at our balancer / routing layer. I am filing a ticket and I'll update you here on the progress. Thanks a lot for pointing it out!

[2015-07-22 18:00] bhelx commented on #201
@ivanovv we've decided that we would like to resolve this by adding a validation to prevent account codes that start with dots. Is that going to be a problem for you?

[2015-07-23 11:53] ivanovv commented on #201
@bhelx like I said, we are handling data for our customers, so we don't create accounts - only fetch them.
Do I understand you right - no solution for existing account codes, and we have to contact our customers so that they in turn contact Recurly support to migrate those account codes?

[2015-07-23 18:27] bhelx commented on #201
@ivanovv Yes, unfortunately the only way forward is to have your merchants fix this account code. This is our mistake for not validating on this sooner. I checked the database and there are only a couple accounts across the system that will need to be changed but we can't do so automatically without risking getting out of sync with the merchant's database. We can reach out to the merchants for you

[2015-07-24 22:48] ivanovv commented on #201
@bhelx thanks a lot, I think the best way for us is to contact the interested parties, and suggest them to fix their data by contacting Recurly support.

Thanks again for cooperation!

[2015-07-24 22:48] #201 closed

[2015-07-24 22:49] bhelx commented on #201
Thanks @ivanovv

We should be able to clear it up for them quick

[2015-07-28 21:08] bhelx commented on #201
For @ivanovv or anyone finding this. We have implemented the validation and added it to the docs:

```This code may only contain the following characters: [a-z 0-9 @ - _ .] but it may not begin with a dot character```

https://dev.recurly.com/docs/create-an-account

[2015-07-31 08:37] jakolehm opened #203 "Cannot update subscription add-ons"
It seems that `subscription.update_attributes` does not send `subscription_add_ons` array to api. Tried to update add-ons like this:

[code]

[2015-07-31 16:24] kaleemullah commented on #178
@bhelx can you please recommend any efficient solution? Thanks.

[2015-07-31 17:53] bhelx commented on #178
@kaleemullah after looking into it, I don't think there is. This is an outstanding API issue that we have yet to get enough momentum to get implemented. I can think of a couple ways to implement this on the API level but it would need to be prioritized as a problem. If you think this is something you can't live without I would suggest contacting our support team and link this issue. That would hel

[2015-09-17 07:46] JustinasDaugela opened #211 "Error message has "base" prepended"
When creating a subscription that already exists, the error message of `"base You already have a subscription to this plan."` is returned.

[2015-09-17 17:53] csmb commented on #211
Strange. When I try to reproduce locally, I get the following:

`errors: {"base"=>["You already have a subscription to this plan."]}`

Could you provide some code to reproduce? Also, if you'd like the ability to add the same subscription to an account multiple times, you can let us know and they can take care of that.

[2015-09-18 09:44] JustinasDaugela commented on #211
I'm just trying to create a subscription and rescuing the exception:
[code]

Using version 2.4.6. I do not want the subscription to run multiple times, just wanted to present the user with the error message and saw it has 'base' prepended.

[2015-10-22 18:06] bhelx commented on #203
@jakolehm this is a strange quirk. If you run this:

[code]

You'll see that your addons are empty before you are submitting.

The documentation suggests using this syntax:

[code]

which does work. The code also suggests you can do this:

[code]

Which appears to work but I'm not sure why. I'm going to file another issue to figure this out and either make your scenario work or explain this quirk

[2015-10-22 18:06] #203 closed

[2015-10-22 18:08] bhelx opened #220 "Use of << on add_ons does not work as expected"
Follow up from https://github.com/recurly/recurly-client-ruby/issues/203

The culprit seems to be some old code that was not updated:

https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/subscription/add_ons.rb#L20

Reported by @jakolehm

[2015-11-06 14:08] vivanov26 opened #222 "Error updating account email: The provided XML was invalid. Unacceptable tag <redemptions>"
Gem version: 2.4.8

Steps to reproduce:

[code]

Exception stack trace:

[code]

[2015-11-06 14:43] alexz70 commented on #222
![email update](https://cloud.githubusercontent.com/assets/11528043/10999575/d8df9f90-846a-11e5-8f0f-6270f8e80419.jpg)

[2015-11-06 14:48] vivanov26 commented on #222
Just to clarify, it seems that ```<redemptions/>``` element gets included into the XML PUT request when updating email value. Here's an example from our production log:

[code]

[2015-11-06 19:18] csmb commented on #222
Hi there @vivanov26. I can't seem to reproduce this locally.

When I try to reproduce, the XML sent over is:

[code]

Is there anything special about the account that you're trying to update, or does this happen on each account? Any extra info you've got would be great!

[2015-11-06 19:27] vivanov26 commented on #222
Hi @csmb, thanks for looking into this. This may be related to our Recurly account. To answer your earlier question, yes it happens for every user account.

I think I figured out the additional step that needs to be done to reproduce this error: invoke
[code]
before
[code]

I will send the full trace to @rachelquick as I don't want to share our test account API key in this GitHub ticket.

[2015-11-09 20:01] csmb commented on #222
Hey @vivanov26 I'm able to reproduce this invalid XML error when invoking `redemptions`. I'll get to work on a fix and will update you with status, here.

[2015-11-09 20:39] vivanov26 commented on #222
@csmb thank you

[2015-11-11 02:32] jeropaul commented on #200
Is there a timeframe for fixing this?

I'd like to do something like:
    subscription = Recurly::Account.find('account id').subscriptions.active.first
    subscription.add_ons = subscription.add_ons <<  subscription.plan.add_ons.find('add_on_code')
    suscription.preview()

I'll use your work around for the time being

[2015-11-11 19:23] bhelx commented on #200
@jeropaul That's a slightly different issue I think:

https://github.com/recurly/recurly-client-ruby/issues/220

The method `<<` actually takes a string for the add on code:
https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/subscription/add_ons.rb#L20

You'd want to do something like this:
[code]
Further more, `<<` mutates the array rather than returning one. This is how it wo

[2015-11-11 19:26] bhelx commented on #200
@jeropaul  let me know if that works for you. I understand it's not very well documented or intuitive.

[2015-11-11 19:38] csmb commented on #222
Hey there @vivanov26, we've got a [PR for the changes](https://github.com/recurly/recurly-client-ruby/pull/223). We should get it merged in and will cut a new release next week, and you'll see the release noted in this thread!

[2015-11-11 19:42] vivanov26 commented on #222
@csmb great, thanks for the update

[2015-11-12 00:56] jeropaul opened #224 "Previewing a subscription change around subscription_add_ons is quirky"
Hey,

I'm playing around with a previewing a subscription change for this example the subscription does not currently have add ons,  here is an example of the code I was planning on using:

[code]

except the invoice returned here is null...  however the following code does return an invoice

[code]

I would have expected both these forms to work

[2015-11-13 00:23] bhelx commented on #224
Hey @jeropaul

I'm not sure what you mean to be referencing with:

[code]

This variable does not exist. Is that meant to be `active_subscription` ? I'm assuming so for now.

I'm still not sure but I think the problem may be that you are using `push`.

`active_subscription.subscription_add_ons=` is actually an overriden method. Use of `+` and `=` are allowed but I don't think we have an alias for

[2015-11-13 03:05] jeropaul commented on #224
Sorry I wrote that code out without re-reading it,  I did intend for it to be ```active_subscription```.

From a users perspective of the api, I have made a change to a subscription, asked for the impact of the change and received no response.  That is broken.

As for the invoice being nil,  I suspect it is the defined behaviour when previewing a subscription with no changes.  Here is the logs for

[2015-11-17 00:32] bhelx commented on #224
@jeropaul yeah like I said, it appears that use of `push` was overlooked. I'm sorry, I know it's probably confusing. We have a lot of problems around the way we track changes to arrays in this library.

I'll follow up with an alias to push so people won't get caught on this in the future. I'll also check to see if there are any other array methods we may have missed (I'm sure there are).

For now

[2015-12-02 12:56] pavel-mihailovskiy commented on #136
Hello guys, I'm using the 2.4.9, but getting the same issue.

billing_info.save!
=> Recurly::Transaction::DeclinedError: Your card number is not valid. Please update your card number.

pry(#<BillingInfosController>)> billing_info.errors
=> {}

[2015-12-02 19:46] bhelx commented on #136
@pavel-mihailovskiy transaction errors are different than invalid errors:

[code]

[2015-12-02 22:10] bhelx commented on #136
@pavel-mihailovskiy does that work for you?

[2015-12-03 11:44] pavel-mihailovskiy commented on #136
@bhelx yes, that works for me, thanks a lot!

[2015-12-05 01:05] bhelx commented on #224
I don't think it's going to be possible to add an alias for `push` since push is on the array object itself. I think the only way we may be able to address this issue is through documentation.

[2015-12-05 01:12] bhelx commented on #222
This was merged with https://github.com/recurly/recurly-client-ruby/pull/223 and went into 2.4.9 https://github.com/recurly/recurly-client-ruby/pull/225

Please reopen if there are issues.

[2015-12-05 01:12] #222 closed

[2016-01-12 16:08] DrOhReally commented on #178
I am also extremely interested in this as my client requires a way to display credit remaining in the account section. :)

[2016-04-08 21:38] pmorton opened #235 "Autoloading and Rails"
We are getting some strange exceptions from the recurly railtie each time we deploy our application. The app is rails 4.2 with puma running with 2 clustered mode workers with 16 threads. When the application is deployed the first call into our app (any controller) will trigger the following exception: ```NoMethodError: undefined method `accept_language=' for Recurly::API:Class``` and a massive sta

[2016-04-11 17:28] pmorton commented on #235
Good Monday @bhelx Let me know your thoughts on the above and I would be happy to get this moving.

[2016-04-11 17:45] bhelx commented on #235
Thanks @pmorton

Will be taking a look today

[2016-04-11 19:55] bhelx commented on #235
@pmorton

Okay, from what I can tell, our Railtie is pretty old and this library was written when using threaded servers was less common. So it's no wonder there are some issues.

At first glance I would definitely say I want to dump autoload (option 1). I find messing with ruby's requires to be a little to opaque and I never liked that this library adopted autoload. I also agree that the performa

[2016-04-11 20:26] pmorton commented on #235
Great. I will get this moving. Cheers!

[2016-04-29 16:55] bhelx commented on #235
Closed with https://github.com/recurly/recurly-client-ruby/issues/236

Thanks @pmorton

[2016-04-29 16:55] #235 closed

[2016-05-03 22:33] rloomba opened #241 "issue with trying to update the unit_price_in_cents for a subscription"
I'm running into an issue when I try to update the `unit_price_in_cents` attribute for one of my subscriptions. Here's the code I'm using to update the subscription. I'm manually overriding the plan's `unit_price_in_cents` with the update, however it doesn't seem to be properly updating. When I check the `pending_subscription`, the old `unit_price_in_cents` shows.

[code]

Here's a log printout of

[2016-05-03 22:44] bhelx commented on #241
hey @rloomba

Happy to have a look. Which version of the library are you using?

[2016-05-03 22:45] bhelx commented on #241
hey @rloomba

I'm going to try to reproduce the problem

[2016-05-03 22:48] bhelx commented on #241
@rloomba I'm a bit confused because I see the `unit_amount_in_cents` in your xml.

...<unit_amount_in_cents>500</unit_amount_in_cents>...

What was the previous value?

[2016-05-03 22:53] rloomba commented on #241
@bhelx I think that's the `unit_amount_in_cents` for the add on

[2016-05-03 22:54] rloomba commented on #241
The `unit_amount_in_cents` value for plan code `sv-7` is `1250` and I'm trying to override it with a value of `1225`

[2016-05-04 16:28] bhelx commented on #241
@rloomba Okay, this seems to be a bug.

Here is how I was able to work around it:

[code]

I'd suggest you you don't use `update_attributes` for now. I don't know the exact problem yet, but I suspect the attributes are not being marked as dirty before the save.

[2016-05-04 16:36] bhelx commented on #241
I'm going to follow up on this tonight or tomorrow morning

[2016-05-04 16:57] rloomba commented on #241
@bhelx thanks for looking into this!

For my use case, I'd like the change to go into effect at the subscription's renewal, hence when I was passing in `timeframe: 'renewal'`.

If I manually save the subscription:

[code]

It looks like it applies the changes now. Any ideas on how I can achieve the renewal behavior?

[2016-05-04 17:03] bhelx commented on #241
@rloomba I think you just need to use the attr_accessor methods:

[code]

Let me know if that is not the case.

[2016-05-04 17:12] rloomba commented on #241
@bhelx that doesn't seem to work
[code]

[2016-05-04 17:20] bhelx commented on #241
Sorry, I'm realizing that is an attribute for the SubscriptionChange and not the Subscription. The `update_attributes` was implicitly creating a SubscriptionChange (which this library does not have a model for).

I'll take a few minutes to work out the underlying issue and report back.

[2016-05-04 17:34] rloomba commented on #241
thanks @bhelx! appreciate all the help on this.

[2016-05-04 17:49] bhelx commented on #241
@rloomba I wrote a test for this and it appears to be passing. Also I am somehow not able to reproduce this anymore. It's possible I was using the same values the first time I reproduced.

Can you run a script like this just to be sure:

[code]

[2016-05-04 17:50] bhelx commented on #241
If that exception is raised then the values are already set on the model

[2016-05-04 17:54] bhelx commented on #241
Well, it seems like the server is not holding the values even though we are sending them

[2016-05-04 17:57] rloomba commented on #241
Yeah that's what I was noticing as well :/

[2016-05-04 17:58] bhelx commented on #241
So are you seeing the correct XML go across now? Is it only the server response? Because I think the server will respond with the old values until the time of renewal.

[2016-05-04 18:19] rloomba commented on #241
@bhelx I ran your above script, and it's raising an error. The `unit_amount_in_cents` value is the same.

I'm changing the `plan_code`, however for this new plan code, I'd like to **override** the existing `unit_price_in_cents`.

I think this is what's happening:
1. Since the `unit_amount_in_cents` is not changing, it's not marked as dirty, so it's not sent over the server
2. I'm changing the plan

[2016-05-04 19:03] bhelx commented on #241
Okay, let me make sure I get this. So the real issue is that because the `unit_amount_in_cents` has not changed on the model, it's not sending that value even though it should be because the `plan_code` has switched and you want to override the value on the new plan code?

If that is so, I think we may be able to just override update_attributes on the Subscription model to take this into account.

[2016-05-04 19:07] rloomba commented on #241
Yep exactly!

Cool that would be awesome, I've got some spare cycles and would be happy to submit a PR if you can point me in the right direction.

[2016-05-04 19:13] bhelx commented on #241
@rloomba That would be great!

Every model inherits from Resource which has the update_attributes method: https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/resource.rb#L865

So I would look at overriding it somewHere in here: https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/subscription.rb#L201

You can try to use `super` but you may have to do something

[2016-05-04 19:28] rloomba commented on #241
@bhelx cool, I'll give it a shot and let you know if I have any questions

[2016-05-06 16:23] bhelx commented on #241
Closing with https://github.com/recurly/recurly-client-ruby/pull/242

[2016-05-06 16:23] #241 closed

[2016-05-23 22:02] cionescu opened #247 "Update the address for an account?"
I am having issues updating the address for a Recurly Account.

[code]

Then, if I try to save the account it doesn't make a request to recurly. Completely unrelated, but if I try to save the address I get a 404

[code]

Can you please let me know what's wrong with my approach?

[2016-05-23 22:05] drewish commented on #247
Does `a.save` work any better?

[2016-05-23 22:07] cionescu commented on #247
`a.save` returns true. But I would expect it to make a PUT request to recurly to update the account.

[2016-05-23 22:15] drewish commented on #247
does it update the account though?

[2016-05-23 22:19] cionescu commented on #247
No, it doesn't

[2016-05-23 22:20] bhelx commented on #247
I think the problem is that `account.changed?` is probably still false. Let me check this and confirm that this is a bug.

[2016-05-23 22:23] bhelx commented on #247
This doesn't look correct

[code]

[2016-05-23 23:02] bhelx commented on #247
This is a quick fix: https://github.com/recurly/recurly-client-ruby/pull/248

But it's probably not the best solution moving forward. We're going to need to discuss how to better address this problem of `changed_attributes` with nested objects.

[2016-05-23 23:15] cionescu commented on #247
Thank you! And thanks for responding so quickly 😄

[2016-05-24 00:52] bhelx commented on #247
@cionescu Sure thing. I'm going to do a deeper dive tomorrow.

[2016-05-31 21:04] bhelx commented on #247
Closed with https://github.com/recurly/recurly-client-ruby/pull/248

Will go into release tomorrow

[2016-05-31 21:04] #247 closed

[2016-05-31 21:05] bhelx opened #249 "Need a better way to handle changes in nested resources"
Need to improve code in https://github.com/recurly/recurly-client-ruby/pull/248 and come up with a general way to handle this.

[2016-07-01 20:25] bhelx commented on #178
We will be providing a solution for this in the next release:

https://github.com/recurly/recurly-client-ruby/pull/253

[2016-07-05 16:45] bhelx commented on #200
Closing for now. Please re-open if we need further discussion.

[2016-07-05 16:45] #200 closed

[2016-08-31 07:04] patcoll opened #262 "Recurly::Subscription `starts_at` support"
Using the REST API directly I'm able to back-date a subscription with a trial period using the `starts_at` parameter. I am not able to pass this parameter to `Recurly::Subscription.create` and have it work.

Is this a simple change? Where I can I look for implementation hints on how to implement?

[2016-08-31 17:07] bhelx commented on #262
Can you explain more how you do this with the API directly? Could you paste the urls used and xml exchanged?

[2016-08-31 17:30] patcoll commented on #262
@bhelx For sure! Here is the success I had yesterday:

https://gist.github.com/patcoll/c6e77092cab60de7a14e17a5f9ca7b55

The following is the documentation for the REST API that contains options for `starts_at` and `trial_ends_at `: https://dev.recurly.com/docs/create-subscription

Recurly doesn't allow trials without entering payment info, so we are currently making that happen on our end. Once t

[2016-08-31 18:43] patcoll commented on #262
@bhelx Strike that, we figured it out. Apparently it's not possible to back-date `trial_started_at` but it is possible to back-date `trial_ends_at`. This covers our needs. Thank you.

[2016-08-31 18:43] #262 closed

[2016-09-06 17:12] bhelx commented on #262
@patcoll thanks for detailed description and the resolution!

[2016-09-21 15:01] brauliobo opened #265 "Handle WebHook Events"
Hi, first of all, thanks for this gem!

Can this gem parse the webhooks events into nice ruby objects?

[2016-09-21 17:08] bhelx commented on #265
@brauliobo It's not a very well documented feature, but we did have someone contribute webhooks unmarshalling code: https://github.com/recurly/recurly-client-ruby/pull/217/files

Let me know if you have questions understanding how to use it.

[2016-09-21 18:23] brauliobo commented on #265
nice @bhelx, will try it tomorrow!

[2016-09-21 18:23] #265 closed

[2016-10-17 19:30] lmnleaf commented on #211
Closed with #267

[2016-10-19 06:39] sdhull opened #269 "Recurly::Transaction::DeclinedError#to_s raises an exception"
I'm not sure what exactly is going on with `Recurly::XML` and `Recurly::XML::NokogiriAdapter`, but it seems to be breaking.

[code]

This is problematic when trying to do `recurly_error.to_s` as a uniform way to access an appropriate customer-facing error message, regardless of whether they're creating a subscription, a transaction, redeeming a coupon, or whatever.

[2016-10-19 07:47] sdhull opened #270 "Coupon redemptions produce unusable errors"
My expectation is that I should be able to `rescue Recurly::Error => e` and then do `e.to_s` to get a customer-facing error message. Is this correct or no?

[code]

Meanwhile, if I build the Redemption manually as it's done in the `#redeem!` method,
[code]

So a useful error _is_ returned by the API, it's simply inaccessible if you use the `#redeem!` method.

[2016-10-19 18:10] bhelx commented on #270
Thanks a bunch for reporting! This is indeed a bug. I'll check your PR now.

[2016-10-19 18:17] bhelx commented on #270
Also, I wanted to address this question:

It depends on what kind of error you are looking for. If you are accepting user input of some sort, you want to try to catch a validation error first then fall back to a more general error. The validation errors will either give you a specific field that has a problem, or it will use the keyword "base" to mean that the problem is with the state of the reso

[2016-10-19 21:54] sdhull commented on #270
We're using the Recurly js to take billing info and get a token back, but we have a single endpoint where our customers submit a form which triggers some Recurly API calls (the calls may be different depending on what the customer is doing). I want a thematic error message to show if something goes wrong (eg, did adding billing info token fail? did creating the subscription fail? did the transacti

[2016-10-20 15:51] #270 closed

[2016-10-20 16:01] bhelx commented on #269
@sdhull It would be great if I could see the xml being returned here. You can enable debug logging of the xml like this:

[code]

Also, if I could get some kind of context code, or a script to reproduce, that would be helpful.

At first glance, it looks like maybe this path doesn't exist https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/transaction/errors.rb#L39 but i'm not su

[2016-10-20 17:20] sdhull commented on #269
So we're serializing & storing exceptions from recurly so we can inspect them later (hence `purchase.recurly_error`).

Just reproduced it easily by going through the flow locally and using the [test gateway](https://docs.recurly.com/docs/test) with one of the declined cards. Here's the XML:

[code]

IMO, it would be easier to remove the monkey-patching of nokogiri and just use the library as-is. S

[2016-10-20 17:21] sdhull commented on #269
To be clear, this isn't a "once in awhile" thing, this is an "every time" thing. Every time you get a transaction declined exception, if you try to do `exception.to_s` it blows up.

[2016-10-20 20:02] bhelx commented on #269
Okay, sorry about that. I'm not sure I can reproduce it though. Here is the code i tried to use to trigger it:

[code]

Results in:

[code]

[2016-10-20 20:17] bhelx commented on #269
Could it possibly be a nokogiri versioning issue?

[2016-10-20 20:58] sdhull commented on #269
Strange. I suppose it could be a version issue. `nokogiri (1.5.11)`

One difference is we're using Recurly.js to get a token to update billing info and then using the account_code for the transaction, but I don't expect that to really be much of an issue.

What version of Nokogiri are you using? Does the XML I posted parse properly for you?

[2016-10-20 21:17] bhelx commented on #269
Well, I can't say for sure if that's the problem, but you'll want to try upgrading nokogiri to at least 1.6. I'm testing on `1.6.6`. There is a fixture we are using in the tests and it looks the same as your xml as far as I can tell: https://github.com/recurly/recurly-client-ruby/blob/master/spec/fixtures/transaction_error.xml

My live response looks like this:

[code]

I didn't try parsing your x

[2016-10-20 22:54] sdhull commented on #269
Unfortunately, ours is a legacy project and upgrading Nokogiri is not a simple task, thanks to dependency hell. 😞

[2016-10-20 22:58] sdhull commented on #269
[code]
Which is, amazingly, the latest version of fog. How can that be?

[2016-10-21 07:06] sdhull commented on #269
OK took some doing but I got Nokogiri updated to `1.6.8.1` and it resolved the issue.

[2016-10-21 07:06] #269 closed

[2016-10-24 15:01] Kinertia opened #272 "Subscription Add Ons Usage"
When getting the usage on a subscription add-on it doesn't give you the ID for the usage in the response (although you can see it in the logs). Other than saving the ID to your db when it's created there's no way to get the ID of the usage from the API, which makes it impossible using this library to update or delete a usage.

[2016-10-24 16:05] bhelx commented on #272
@Kinertia You should be able to call `update` and `destroy` on usage objects like any other objects. If there is some other way you wish to use it, I'd be happy to alter the library to help. Could you maybe provide some example code of what you are trying to accomplish and how you want it to work?

[2016-10-28 20:57] Kinertia commented on #272
@bhelx This is the code I have and in the response I'm not seeing the usage id. But I need to give the id if I want to delete a certain usage record.

`recurly_subscription = Recurly::Subscription.find(leadgen_subscriptions.last.recurly_subscription_id)

				sub_add_on = recurly_subscription.subscription_add_ons.detect do |add_on|
					add_on.add_on_code == 'leadgen_leads'
				end

				usage_recor

[2016-10-28 21:15] bhelx commented on #272
Well, like i said before, you can call `destroy` on any resource that is destroyable. In your case, since you are getting a page of items, you'll want to iterate through them. Something like this maybe:

[code]

[2016-10-31 13:43] vrul opened #274 ""SystemStackError: stack level too deep" when calling "as_json" on Recurly::Account object"
Hi guys, we are getting `SystemStackError` when trying to call method `as_json` on `Recurly::Account` object, eg
[code]
The server log is next:
[code]
Is this something to do with API on your side? Please, let us know if you need further info

Some environment info:
[code]

[2016-10-31 15:47] bhelx commented on #274
@vrul I think `as_json` is something that rails puts on the objects. We don't control it. It looks like it's trying to walk through all the attributes and call them. If you are trying to get json, you may want to write a more explicit serializer. You could also try serializing the attributes hash:

[code]

[2016-10-31 16:25] bhelx commented on #274
@vrul It seems like the ultimate problem is when it tries to serialize a `Pager`. If you want a quick fix you can override it's as_json and put something sensible.

[code]

I'll need to think about how we should handle this in the library.

[2016-10-31 22:10] vrul commented on #274
@bhelx thank you for fast reply
so in my case I'm serializing a `Recurly::Subscription` object. I have next attributes on it:
[code]
and the described problem appears when I call `recurly_subscription.attributes.as_json` so that it walks through all the subscription's attributes (as you've mentioned before), successfully serializes `Recurly::Plan` object but fails on serializing `Recurly::Account`

[2016-10-31 22:12] vrul commented on #274
just wondering why it fails only on `Recurly::Account`, not on `Recurly::Plan` objects?

[2016-11-01 02:38] drewish commented on #274
My suspicion would be the number of relations since the plan's only relation is the add-ons but accounts would have subscriptions, invoices, transactions, coupons, etc

[2016-11-01 17:51] spq24 commented on #272
thanks I will give it a try. Still a bit weird that you can't easily get the usage id.

[2016-11-02 16:34] bhelx commented on #272
@spq24 You shouldn't need it just to delete, but we are adding it into the response in the next release because you may need it for other purposes. I'm going to ping back here when it's released.

[2016-11-02 16:47] spq24 commented on #272
Yup I am going to test that out today but in general I think your right and it makes sense, just wasn't intuitive looking at the api docs it says you need the ID to delete something but I didn't see how to do it with the library, that's where my confusion was. I appreciate your help on this to get it working and for taking care of the library

[2016-11-02 17:16] bhelx commented on #272
@spq24 Sure thing, any time. I've got some better library specific documentation in the works.

[2016-11-16 08:54] brauliobo opened #280 "Recurly::Webhook::NotificationError: 'NewDunningEventNotification' is not a recognized notification"
Receiving this error while using `Recurly::Webhook.parse`

[2016-11-16 17:58] bhelx commented on #280
Hey @brauliobo, this will be address by #277

[2016-11-17 14:14] brauliobo commented on #280
ok, waiting for its merge!

[2016-11-17 14:15] brauliobo opened #281 "No timeframe attribute on subscription change"
How can I set the timeframe attribute as in the docs: https://dev.recurly.com/docs/preview-subscription-change

[2016-11-17 14:21] brauliobo commented on #281
An workaround is to set using `[]`: `subscription[:timeframe] = 'renewal'`

[2016-11-17 17:06] drewish commented on #281
I think that is the solution rather than a workaround, unless I'm misunderstanding what you're asking for.

[2016-11-17 18:46] bhelx commented on #280
Closing with https://github.com/recurly/recurly-client-ruby/pull/277

This will be released today in `2.7.4` https://github.com/recurly/recurly-client-ruby/pull/282

[2016-11-17 18:46] #280 closed

[2016-11-17 18:50] bhelx commented on #281
@brauliobo it should be an attribute that you can set:

[code]

If it's not, that may be an oversight on our part. I am checking now.

[2016-11-17 19:09] bhelx commented on #281
@brauliobo There are two ways to do subscription previews, one is previewing a new subscription in which case you use the class method Subscription#preview:

[code]

The other is previewing a subscription change (which I assume is what you want by your link). Which involves modifying the subscription and calling the #preview instance method:

[code]

It does seem like `timeframe` should be a write

[2016-11-17 20:44] #281 closed

[2016-11-18 10:53] brauliobo commented on #281
thanks @bhelx, I was missing the method :)

[2016-11-18 17:52] bhelx commented on #281
@brauliobo no problem, thanks for reporting. Feel free to post any other questions or problems!

[2016-11-24 08:41] gagalago opened #284 "redeem bulk coupon"
I can't redeem a bulk coupon code
[code]
the error
[code]

I think the problem is that bulk coupon don't have pager of redemptions.

If someone give me some hint of how to solve that. I can try to propose a pull request with the correction.

[2016-11-24 14:19] gagalago opened #285 "resource valid but with errors"
When I redeem a coupon, sometime I have errors but the coupon is valid?
[code]
How can I modify `resource.rb` to be able to easily know that there is some errors.
I think that the best way is to add a method `errors?` in place of changing the behaviour of `valid?`

What do you  think?

[2016-11-28 19:24] bhelx commented on #285
@gagalago This is some semantic weirdness with the API and is happening because the error is put on the `Coupon` here for some reason. The coupon itself is valid, it's the redemption that is not valid. If you want to use `redeem` rather than `redeem!`, it might make more sense in your code to check the returned `Redemption`:

[code]

We typically use the `.any?` method on the errors object for thi

[2016-11-28 19:27] bhelx commented on #284
@gagalago thanks for reporting. I'm going to see if i can reproduce this today. If I can, I should be able to patch it pretty quick.

[2016-11-29 17:51] #285 closed

[2016-11-29 17:52] bhelx commented on #285
Feel free to reopen if you don't think I answered the question.

[2016-11-29 17:52] bhelx commented on #284
I was able to reproduce this. I will have a fix ready by tonight.

[2016-11-29 19:35] #284 closed

[2016-11-30 08:39] gagalago commented on #284
thanks a lot

[2016-11-30 18:30] bhelx commented on #284
@gagalago I'll go ahead and do a `2.7.5` bump today. It will be linked back here.

[2016-12-01 22:46] #211 closed

[2016-12-13 19:34] #272 closed

[2016-12-13 19:35] bhelx commented on #272
@spq24 @Kinertia we went ahead and added this id field https://github.com/recurly/recurly-client-ruby/pull/288

[2017-01-06 18:04] #249 closed

[2017-01-07 09:02] jaypandya73 opened #294 "Subscription Preview Response"
``subscription = Recurly::Subscription.find(uuid)``
``subscription.plan_code = new_plan_code``
``subscription.preview``

When I try to get preview of subscription from above code  It is giving me response of ```Recurly::Subscription``` class.

I want response in __XML__ as it shown in Recurly Documentation.
https://dev.recurly.com/docs/preview-subscription

 So i can extract information from it.

[2017-01-10 17:43] bhelx commented on #274
hey @vrul

Which version of the library are you on? i've loaded up a new rails project with the latest version of this library `2.7.5` and can't seem to reproduce this anymore. Also tried this script:

[code]

I want to get a resolution for this in place. Let me know if you are still having the problem or can help me reproduce.

[2017-01-19 19:30] bhelx commented on #294
Hey @jaypandya73

If you run something like this:

[code]

You'll see that the subscription object has been changed with the new attributes as if the change was applied.

[2017-01-20 06:07] jay-pandya-btc commented on #294
@bhelx - Yeah...I tried that and ``subscription.inspect`` helped me actually to extract exact info.
Though i actually needed response in  __XML__. But i figured out way.

Thanks for your help. Really appreciate it.

[2017-01-20 06:29] jaypandya73 commented on #294
@bhelx - Yeah...I tried that and subscription.inspect helped me actually to extract exact info.
Though i actually needed response in XML. But i figured out way.

Thanks for your help. Really appreciate it.

[2017-01-20 06:51] bhelx commented on #294
@jaypandya73 sure thing. we don't officially support getting the xml but glad you found a way to do so. If you have any other questions, would be glad to help.

[2017-01-20 06:51] #294 closed

[2017-01-25 21:56] danhunter commented on #274
hey @bhelx

I'm able to reproduce this with an instance of `Recurly::Account` using version `2.7.5`

[2017-01-25 23:19] bhelx commented on #274
@danhunter I see, I forgot that this is just applying to `Account` right now

[2017-01-25 23:24] bhelx commented on #274
Okay, I think #295 solves the explosion at least. But I'll need to figure out how I can get it to not call remote links. I'll also need to figure out if we want to just keep ignoring the options Hash or respect what rails wants us to do.

[2017-01-26 23:48] danhunter commented on #274
Ah ok, thanks @bhelx

[2017-01-27 17:52] #274 closed

[2017-01-27 17:54] bhelx commented on #274
Since this is causing problems for some people, I'm going to do a small release today with this change included.

[2017-02-17 21:27] tyleradams opened #300 "Cannot mark processing ACH payment as failed"
Recurly::Invoice.find(invoice_number).mark_failed

returns false if the invoice is processing. It should however mark the invoice as failed.

Notably if the invoice object is stale, then marking the invoice as failed will succeed.

[2017-02-17 21:49] bhelx commented on #300
@tyleradams what is the transaction's state? I believe once the transaction is scheduled with checkcommerce we may not be able to cancel:

https://docs.recurly.com/docs/check-gateway-ach#section-ach-statuses

[2017-02-17 22:08] tyleradams commented on #300
Processing, this is in staging. I've been working with Charlie Gerrior Jr. from engineering and he says it should be doable. Is this incorrect?

[2017-02-17 22:13] bhelx commented on #300
So, you are on a sandbox account? Do you have checkcommerce hooked up or are you using the test gateway? From what I can tell, in the docs at least, by the time the transaction reaches `scheduled` it may or may not be cancelable. When it reaches `processing` it is not cancelable.
I can't speak for how this works on the test gateway but I'd assume the behavior would be the same.

[2017-03-01 17:00] victorhazbun opened #303 "Please update Wiki"
The Readme.md documentation is not enough, please add more documentation.

Thanks.

[2017-03-01 17:21] bhelx commented on #303
Hey @victorhazbun

Are you interested in API level documentation or a more example driven approach? The readme is mostly for configuration and setup details.

You can find some API level docs here: http://www.rubydoc.info/github/recurly/recurly-client-ruby
and you can find some examples here: https://dev.recurly.com/

Would be happy to update the README with more info but I need more specifics.

[2017-03-01 19:17] victorhazbun commented on #303
For example: how to handle exceptions correctly? Whats the difference
between Recurly::Subscription.create! and Recurly::Subscription.create?

Thank you.

Benjamin Eckel wrote:

[2017-03-01 19:22] victorhazbun commented on #303
By the way I just saw http://www.rubydoc.info/github/recurly/recurly-client-ruby/ but there is no reference to that documentation from the Ruby repository, it will be nice to have it there so users know how to use the API. :)

[2017-03-03 16:54] grossjo opened #304 "On new plan unit_amount_in_cents and set_up_fee_in_cents doesn't work"
Here is a sample snippet.
When i save it, the unit amount and set up fee is never set in Recurly.
[code]

Any thoughts why?

[2017-03-03 17:38] bhelx commented on #304
@grossjo I haven't had a chance to try this, but I think the problem is the format of the money values. Try making them `Money` objects:

[code]

[2017-03-03 17:47] grossjo commented on #304
No luck,
Same issue.  The library is smart enough to convert a hash into a money object btw.

XML that is sent by the gem:
[code]

This differs from the fixtures in that your fixtures have:
[code]

[2017-03-03 17:52] bhelx commented on #304
Thanks for the xml. That helps a lot. Let me see if I can reproduce it.

[2017-03-03 17:55] grossjo commented on #304
Here's the full xml sent by the gem: may be more useful:
[code]

[2017-03-03 17:56] bhelx commented on #304
I can't seem to reproduce this. Here is the script I am trying:

[code]

Here is the output (with debugging enabled):

[code]

[2017-03-03 17:56] bhelx commented on #304
@grossjo Which version of the library and version of ruby are you using?

[2017-03-03 17:57] grossjo commented on #304
ruby 2.3.1p112
and
recurly 2.7.6 (latest)

[2017-03-03 18:01] grossjo commented on #304
I just ran your exact code, and have the same problem mentioned, where those fields don't persist into the api.
XML réponse form the api:

[code]

[2017-03-03 19:00] bhelx commented on #304
@grossjo checking server side to see if there is anything different.

[2017-03-03 19:32] bhelx commented on #304
@grossjo as far as I can tell, everything looks okay on the server side. Can you run the script I pasted but with this set at the top and log your results?

[code]

[2017-03-03 19:51] bhelx commented on #304
Also, you are using `.save!` and not seeing any errors thrown right?

[2017-03-06 19:30] grossjo commented on #304
I am not seeing any errors even with `.save!`.  Below is the script you pasted along with all output ran inside of a rails console.

I am using a sandbox account, could there be a misconfiguration I'm not aware of?

[code]

[2017-03-06 19:41] grossjo commented on #304
So i figured this out.
On the sandbox accounts, you can only have on currency.
My account was set to 'CAD' as the default. Since I was trying to add USD, currency this was failing.

I would say the api does not return a great error in this case, but I wouldn't blame the Gem.

[2017-03-06 19:44] grossjo commented on #304
I'm going to close this off, but you may want to follow up with your API team about this "bug".

[2017-03-06 19:44] #304 closed

[2017-03-06 21:48] bhelx commented on #304
@grossjo Thanks for updating us! The API should be returning a validation error and it's possible a bug may have creeped in. I'm going to look into this on the server side.

[2017-03-09 20:07] bhelx commented on #303
@victorhazbun Adding that link in #305. Thanks for pointing that out. I have a branch running with lots of improvements to the documentation. In the mean time feel free to file any questions you have as issues and we'll gladly help you out.

[2017-03-09 22:33] victorhazbun commented on #303
How can I send query parameters? https://dev.recurly.com/docs/list-accounts-subscriptions

   account = Recurly::Account.find('1')
   account.subscriptions.find_each do |subscription|
     puts "Subscription: #{subscription.inspect}"
   end

[2017-03-09 22:42] victorhazbun opened #306 "Question about webhooks"
I'm using the Recurly hosted payments pages. And I'm wondering if it is a good idea to use the  new_subscription_notification webhook to tell my application that now an account have a subscription so the user owner of the account can use the paid application features? Whats your advice?

[2017-03-10 17:32] bhelx commented on #306
Essentially what you are trying to do is synchronize state. It will work, but we advise against relying the webhooks as a mechanism to synchronize state b/w your database and recurly. What does your signup flow look like? Where do your users create subscriptions? Are you using a recurly.js form? You usually want to activate their features after your server sends the request to generate a subscript

[2017-03-18 21:11] akaKuruma opened #308 "Dependency Nokogiri version 1.6 causing warnings."
Nokogiri version 1.6 is using Fixnum which is deprecated on the Ruby version 2.4.
This is causing warnings:
`/ruby-2.4.0/gems/nokogiri-1.6.8.1/lib/nokogiri/html/document.rb:164: warning: constant ::Fixnum is deprecated`

[2017-03-20 08:54] gagalago opened #309 "fields changed to nil"
when a save multiple time address of an account, the second time all not updated field are replaced by nil.

This is how to reproduce that
[code]
As we can see in this example, at the end, only the `address1` is in the address and `city`, `country`, `zip` disapear.

ps: maybe the problem apear on others fields or  api endpoints

[2017-03-20 17:10] bhelx commented on #309
@gagalago It looks to me like maybe the `Address` needs every field sent when doing an update. I'll confirm and see if I can get a fix out quick.

[2017-03-21 08:31] gagalago commented on #309
yes, I can confirm that the address need all fields but this gem send only changed fields of a `Resource` object, so I have to recreate a new hash to have all fields dirty.

[code]

[2017-03-22 17:48] bhelx commented on #308
Hey @akaKuruma Thanks for letting us know. I'm only just now getting the specs to run on 2.4 #314. I'll need to look into which versions of nokogiri we can support. Currently what is holding us back is we still need to support ruby 1.9.3. Do you have any recommendations?

[2017-03-22 18:16] bhelx commented on #309
@gagalago This is in fact a bug. Would you mind trying #315 and seeing if that fixes it for you? I'm going to add specs for it now.

[2017-03-22 18:36] bhelx commented on #309
@gagalago Also I believe this is something that is unique to the Address object.

[2017-03-23 17:44] smythey21 opened #316 "Upgrade Nokogiri To 1.7.1"
The current version of `nokogiri` this gem is using has [known vulnerabilities](https://github.com/sparklemotion/nokogiri/issues/1615). Can we update to 1.7.1?

[2017-03-23 17:56] bhelx commented on #316
Thanks @smythey21. I'm looking into it now. I'm currently held back by having to continue support for ruby 1.9.3 though I may find a way around that.

[2017-03-23 18:17] bhelx commented on #316
Okay, unfortunately I still can't drop support for 1.9 and 2.0 even though they were EOL'd in 2015 and 2016 respectively. I do think, however, I can deprecate them. I'm going to try to upgrade the nokogiri version and force people on those deprecated rubies to use the rexml adapter.

[2017-03-23 21:12] #316 closed

[2017-03-23 21:46] bhelx commented on #316
I'll have a new release for this when I get time. Will likely be `2.9.0` since it has breaking changes to dependencies.

[2017-03-24 16:01] smythey21 commented on #316
Thanks @bhelx! Looking forward to that :)

[2017-03-27 13:08] akaKuruma commented on #308
@bhelx, I believe this is solved in the [Master branch](https://github.com/recurly/recurly-client-ruby/blob/master/recurly.gemspec#L26). Thank you! =)

[2017-03-27 17:18] bhelx commented on #308
@akaKuruma Thanks for reporting!

[2017-03-27 17:18] #308 closed

[2017-03-30 12:28] gagalago commented on #309
yes thanks, it fix it

[2017-03-30 16:16] bhelx commented on #309
@gagalago Okay, I've got to get the tests working on that branch then we can push a release.

[2017-04-05 20:02] #309 closed

[2017-04-06 19:01] bhelx commented on #309
For anyone following, this is now out in release 2.9.0: https://github.com/recurly/recurly-client-ruby/releases/tag/2.9.0

[2017-04-14 16:38] bhelx commented on #306
@victorhazbun does that answer your question? Gonna close this for now. Feel free to open if you think there is something unresolved.

[2017-04-14 16:38] #306 closed

[2017-04-19 21:31] bhelx commented on #303
@victorhazbun sorry i didn't see your last comment until now. You can pass in params to anything that returns a `Pager`. So in your case would look something like this:

[code]

[2017-05-31 21:41] bhelx opened #327 "The Account class does not seem to support notes"
https://dev.recurly.com/docs/list-account-notes

[2017-07-10 02:24] jpwynn commented on #303
Using v 2.7.6 of the gem, whcih supports API v2.4, the docs for v2.4 says find_each supports begin_time and end_time.

But this still selects invoices from today (2017) downwards, NOT from mid-2016 downwards:

[code]

[2017-07-10 03:02] bhelx commented on #303
@jpwynn sorry about that. It looks like the `find_each` method actually has the wrong (older) signature. I'll try to come up with a solution for that this week. In the mean time, you should try using the `all` method:

[code]
If you are curious about what options this should take, you should have a look at the Pager#initialize documentation:

http://www.rubydoc.info/github/recurly/recurly-client-r

[2017-07-11 00:41] bhelx commented on #303
@jpwynn I'm hoping to do a little re-organizing to make pagination easier to understand and support.

https://github.com/recurly/recurly-client-ruby/pull/334

[2017-07-19 20:26] webm0nk3y opened #335 "Getting Exception back when creating subscription from token (Ruby)"
I am getting the following errors back after trying to create a subscription from a token.

[code]
This creates an error:
[code]
I can't tell what is really wrong as I'm just following the basic instructions.

[2017-07-19 21:38] webm0nk3y commented on #335
The ruby example on https://dev.recurly.com/docs/using-a-token is missing the currency property.

[2017-07-19 21:38] #335 closed

[2017-07-19 21:48] csmb commented on #335
Ah, good catch @webm0nk3y! I've updated our docs to reflect that currency is required. Sorry for the missing property, and thanks for pointing it out!

[2017-08-17 19:46] jschwendt opened #336 "Webhook properties are missing"
It appears that certain webhook properties are missing from the models.  For example, if I try to access a parsed webhook object and attempt to consume the account.phone property, I get an error that the phone property does not exist on the account object.  Yet, if I inspect the body of the webhook, I find that it includes the phone property.  I'm using API version 2.7 and gem version 2.10.1 which

[2017-08-17 20:09] bhelx commented on #336
@jschwendt I believe the webhooks and the regular API models use the same parser so they should be up to date. I don't think there is an `Account#phone` property. I think you need to get the phone number from the BillingInfo or the Address. You'll probably need to decide which to use because these can be different.

Could you post an example of any other properties you are having trouble with? Pos

[2017-08-17 20:14] bhelx commented on #336
@jschwendt My mistake. I'm seeing that the webhook contains the phone property but our API does not. I know there are probably still some inconsistencies here because the xml is not exactly 1x1. If you could, please still let me know of any properties fields you have found.

[2017-08-17 20:32] jschwendt commented on #336
Of the ones I'm consuming thus far, the only other one I'm running into is subscription.total_amount_in_cents.

Thanks for jumping on this!

[2017-08-18 17:51] jschwendt commented on #336
A few more in transaction:
date
gateway
gateway_error_codes
invoice_number

[2017-09-22 19:52] zmbc opened #338 "Currency now required on Subscriptions"
Just upgraded this gem from `2.10.0` to `2.10.1` and noticed a breaking change. It looks like Subscription now requires `currency` to be set, which it didn't used to. Digging into the git diff, I saw that your tests were updated to reflect the new requirement:

https://github.com/recurly/recurly-client-ruby/pull/332/commits/cc0ab3d8ef95f5ea1141963159170d18c109dbcb#diff-ff60beda18ec7ceacc17a6833d6d

[2017-09-22 20:44] bhelx commented on #338
@zmbc This should not be the case and is perhaps a mistake on our part. I'll test, fix, and publish as `2.10.2` if so.

[2017-09-27 16:38] bhelx commented on #338
@zmbc Could you try #339 ?

I've decided to add a temporary fix in the `purchases` code so we can honor the contract. The next minor bump will contain the breaking changes we intended.

[2017-09-27 21:21] #338 closed

[2017-09-27 21:48] bhelx commented on #338
We've releases `2.10.2` with the fix. We recommend everyone on `2.10.1` upgrade to that. https://github.com/recurly/recurly-client-ruby/releases/tag/2.10.2

[2017-11-09 20:47] hkmaly opened #346 "Support oga as nokogiri alternative"
Hello,
if you hate Nokogiri so much to recommend reXML, did you considered supporting oga as another alternative?
https://github.com/YorickPeterse/oga

[2017-11-09 21:15] drewish commented on #346
Why would you say we hate Nokogiri?

[2017-11-09 23:40] bhelx commented on #346
We don't necessarily recommend rexml or discourage nokogiri, we just default to that because rexml is on every ruby system whereas nokogiri requires a few dependencies. We are happy to investigate supporting other xml libraries if you want them.

[2017-11-11 22:38] hkmaly commented on #346
Drewish: I'm speaking about commit 600b06a20c679c7108a1e56d3b8e78094f8c0189 ... although reading https://github.com/YorickPeterse/oga#why-another-htmlxml-parser there are even bigger reasons than the problem with bundling libxml2 and not security upgrading older releases.

[2017-11-11 23:18] bhelx commented on #346
@hkmaly as stated in the README, we dropped nokogiri support only for ruby `1.9` and `2.0`. This was spawned from a security discussion and the fact that bundler will not even allow you to install a secure version of nokogiri on either of those rubies. We also decided to end support for those rubies as they have been EOL for a while. I'd expect to see `2.1` support dropped soon as well since suppo

[2017-11-17 11:14] hkmaly commented on #346
It actually does, with NOKOGIRI_USE_SYSTEM_LIBRARIES=1 in environment. But yes, I know, we should convert to more modern version of ruby ... but ruby authors failed to convince me there wouldn't be any incompatibilities.

[2017-11-18 01:42] bry opened #348 "Invalid address, incorrect gem unprocessable entity error handling"
In the recurly-client-ruby version 2.11.2, when using the Recurly `Account#update_attributes!(options)` method and passing an invalid address in the options hash, the Recurly gem incorrectly handles the
[code]
error returned from the Recurly API and raises a
[code]

### Input
[code]

### StackTrace
[code]

[2017-12-02 01:15] schneidmaster opened #350 "Inconsistent pagination behavior for invoices"
I have noticed some strange and inconsistent behavior for invoice pagination. This may be generally applicable to pagination for records using `has_many` in your gem codebase, but I only really dug into it for invoices since that's what I was working with.

Take a Recurly account with 75 invoices (so more than one API page, since 50 can be returned per page by default)

[code]

Replacing `collect`

[2017-12-06 18:14] bhelx commented on #350
@schneidmaster I agree 100% with your overall point that the pagination code is not very clear and has lots of inconsistent behavior. I'm working on PR #334 to fix some of these problems and I'm hoping to get all the changes into that one PR (since they will be breaking changes).

There is a lot of hackery in the Pager class in order to present an Enumerable like interface:
https://github.com/recu

[2017-12-11 22:42] schneidmaster commented on #350
@bhelx Makes sense, thanks. I'm not strongly opinionated about how it ought to work -- I think simplifying the API to avoid inconsistent method behaviors would be sufficient in itself.

[2017-12-14 17:13] yakjuly opened #351 "Coupon Redeem! get NoMethodError when coupon code was redeemed"
`Recurly::Coupon#redeem` has two kinds of output.
`false` or `redemption` object.
cause `Recurly::Coupon#redeem!` raise error

[2017-12-14 17:25] bhelx commented on #351
@yakjuly  Is `#redeem!` not throwing errors for you? can you provide us with some demonstration code?

[2017-12-14 17:35] yakjuly commented on #351
[code]
[code]
I expect to receive  `Recurly::Resource::Invalid` but get `NoMethodError`

[2017-12-14 20:00] bhelx commented on #351
Thanks @yakjuly
I will take a look at this. I think I have an idea of where the problem is.

[2017-12-21 06:51] mwoghiren opened #352 "400 when creating a subscription with a shipping address via Purchases API"
Hiya!

I'm attempting to create a subscription via the Purchases API.  Everything works great until I specify a `shipping_address` hash on the subscription in the purchase.  The request then results in a 400 response with the following explanation:

Which is fine, although the "multiple" bit is puzzling—I'm specifying only one shipping address. :)

Can someone verify that specifying a shipping add

[2017-12-21 08:14] bhelx commented on #352
@mwoghiren It does seem strange, can you paste some example code demonstrating the problem?

[2017-12-21 08:20] bhelx commented on #352
Actually, I was able to reproduce:

[code]

I'm going to take a look at this first thing in the morning (CST). I believe the problem is that shipping addresses are not supported for purchases yet, however the error message is confusing so I'll need to check.

[2017-12-21 19:02] bhelx commented on #352
I just confirmed that this is not a bug, but a confusing error message. shipping addresses are not supported on purchases yet. This change will be going out in 2.10 which I plan on releasing before (or on) `1/8`. In the mean time, we are going to fix the confusing error message.

[2017-12-21 19:02] #352 closed

[2017-12-21 19:15] mwoghiren commented on #352
Thanks for investigating.  We'll add shipping addresses to the subscription manually in the meantime and eagerly anticipate the new release.  Thanks again!

[2017-12-21 19:16] bhelx commented on #352
No problem, thanks for your understanding. I'll be sure to link this issue in the release.

[2018-02-09 01:28] bry commented on #348
@bhelx The explicit `Recurly::Address` casting works and the bug in the gem is gone, Recurly now reports with its `Recurly::Resource::Invalid` object. 👍

Thanks for looking into this!

[2018-02-09 17:14] bhelx commented on #348
@bry glad to hear. I'll still keep this open in case we get time to fix the general case.

[2018-02-24 00:08] Sinetheta opened #362 "Invoice refunds do not return invoice collections"
Hi, I'm having a little trouble upgrading to 2.14.0

`Recurly::Invoice#refund_amount` is expecting an `<invoice_collection>` as per the stubbed API response here https://github.com/recurly/recurly-client-ruby/blob/master/spec/fixtures/invoices/refund-201.xml

but when I hit that endpoint I get a top level `<invoice>` which blows up when the gem parses it.

[code]

[2018-02-26 19:28] bhelx commented on #362
I took a look at this. It looks to me like refunds were NOT changed to use `InvoiceCollection` and that wasn't updated in the PR. I'll prepare a fixed released for this and link it to this issue. Thanks for pointing this out @Sinetheta

[2018-02-27 01:56] Sinetheta opened #364 "Recurly::Invoice#refund_amount mutates instance"
I don't imagine this is limited to `Invoice` or `refund_amount` but that's where I noticed it.

[code]

[2018-02-27 05:15] Sinetheta commented on #364
Closing as this is only an issue with https://github.com/recurly/recurly-client-ruby/pull/363

[2018-02-27 05:15] #364 closed

[2018-02-27 17:46] #362 closed

[2018-02-27 22:22] bhelx commented on #364
This has been fixed in https://github.com/recurly/recurly-client-ruby/releases/tag/2.15.0. Thanks for pointing this out so fast.

[2018-03-30 12:00] nasaabg opened #368 "Changing plan and setting custom unit_amount_in_cents doesn't work as expected."
I am using version 2.11.3 and I found that kind of issue:

Let's say my current subscription unit_amount_in_cents = 50000 and the catalog price of this plan is $700 and I want to have a new plan but with the same amount $500
I try to change the plan_code and want to have unit_amount_in_cents also 50000
I have the following code:

[code]

It doesn't work for me. I expect to have an updated subscrip

[2018-03-30 15:04] bhelx commented on #368
@nasaabg This is an unfortunate design issue with the active-record style interface. I'd suggest trying the `Resource#update_attributes` method. It seems to work for me:

[code]

[2018-04-04 19:17] bhelx commented on #368
@nasaabg Let me know if this is still a problem for you.

[2018-04-04 19:17] #368 closed

[2018-04-04 23:44] Sinetheta opened #370 "Invoice shipping_address has name instead of first and last"
Why does Lookup Invoice return a payload which includes a `<shipping_address><name>` but no first or last name? eg: https://dev.recurly.com/docs/lookup-invoice-details

This means to get separate first and last names for an invoice we need to look to the current account info, which may have changed since an invoice was generated.

[2018-04-05 04:19] bhelx commented on #370
@Sinetheta This looks to me to be a mistake in the documentation. `ShippingAddress` should have both `first_name` and `last_name` https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/shipping_address.rb#L8-L9
as well as a `nickname` https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/shipping_address.rb#L15
Are you seeing this in the actual xml responses or jus

[2018-04-05 17:13] Sinetheta commented on #370
Unfortunately this is accurate. The response contains only the concatenated `<name>` which means that not only is information destroyed but it's not easily accessible because `name` is not a whitelisted attribute.

[2018-04-05 22:49] bhelx commented on #370
@Sinetheta definitely seems like a bug or design error. I'm looking into it tomorrow. I'll have some more information then.

[2018-04-10 18:47] bhelx commented on #351
@yakjuly #371 resolves the issue but I would recommend you use `Coupon#redeem` instead as the behavior is more intuitive.

[2018-04-10 18:53] yakjuly commented on #351
@bhelx Thank you, we are using `redeem` now.

[2018-04-11 16:25] Sinetheta commented on #370
Any word on this @bhelx ? I understand that at it's core this isn't a question for the ruby gem (unless we really need to adjust Resource classes to handle this surprising response format) but I'm not sure where else to report it, and it's of particular business concern for me right now.

Since billing_info and ship_addresses can be mutated I was really hoping an invoice would include complete and

[2018-04-11 17:51] bhelx commented on #370
@Sinetheta I just wanted to make sure this wasn't something going on with this library but it appears to be an issue that will have to be addressed at the API level. I'd suggest contacting support `support@recurly.com` and referencing this github issue. That way they can keep you up to date on when it will be fixed.

[2018-04-11 17:51] #370 closed

[2018-04-12 16:11] #351 closed

[2018-04-21 05:09] pkopac opened #375 "Pager cursor broken for accounts"
Please remove this line: https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly/resource/pager.rb#L91

I had to monkey-patch the library, because we read the next cursor ourselves, which for accounts is now `123:123` instead of `123`. This line just silently removes `:123` and we got `HTTP 400 Bad request: cursor format is invalid`

PS: the reason it works in the library is that yo

[2018-04-23 13:00] drewish commented on #375
Yeah good point. The cursor format changed in API V2.3 to support the updated_at sorting/filtering. I'll put in a ticket for this.

[2018-05-14 17:55] ntippie opened #376 "Missing support for NewCreditInvoiceNotification webhook"
Using 2.15.3 and the new Credit Invoices feature in Recurly, webhooks of type 'NewCreditInvoiceNotification' raise the following error:

Recurly::Webhook::NotificationError ('NewCreditInvoiceNotification' is not a recognized notification):

[2018-05-15 07:14] pkopac opened #377 "Feature request: allow getting IDs of related resources"
Hi! I'm using this library for integration in ChartMogul. One thing that I had to solve recently was optimization of number of requests. Eg. if I fetch all the invoices, I don't need to fetch singular ones again, therefore I need just the ID from a relation to look in the local cache. The library doesn't provide a straightforward way to achieve this and `invoice.original_invoice.uuid` results in a

[2018-05-16 07:41] ntippie commented on #377
I ran into a similar use case today. I wanted to see if an account had billing info, but discovered that calling `Recurly::Account#billing_info` makes a network call.

[2018-05-16 15:50] bughit opened #381 ""[WARNING] Recurly logger" messages should be disableable"
whether logging is off or on there is no reason to keep warning forever
[code]

[2018-05-16 16:29] bhelx commented on #381
@bughit If you want to disable the message, don't call `logger=` in your codebase. If you are using rails, the railtie might be automatically doing that.

[2018-05-16 16:43] bughit commented on #381
I am using rails so yes, the railtie is calling logger=

[2018-05-16 17:02] bhelx commented on #381
@bughit I'll have a follow up PR to alter the railtie so it does not call this in production.

[2018-05-16 20:44] bhelx commented on #376
@ntippie This is out in 2.15.4: https://github.com/recurly/recurly-client-ruby/releases/tag/2.15.4
feel free to re-open or open another issue if you have problems with it.

[2018-05-16 20:49] bhelx commented on #377
This is a feature that is requested often. I don't like that the library opaquely makes HTTP requests for you in general, but we have to live with that for now. I'm not sure why a solution was not provided from the start for this problem. I'd like to provide a solution but I'm concerned that splitting and taking the last parameter won't work for all cases. Let me investigate this a little more bef

[2018-05-16 21:29] bughit commented on #381
That will make it impossible to turn on logging?  Seems too drastic.

Logging can off by default, but it should be possible to turn it on, while also avoiding incessant warnings.

[2018-05-17 06:00] pkopac commented on #377
@bhelx, thank you for the response. Fortunately, no, I'm not monkey-patching this, although I had to other things :) We just use it as shown - a utility class method for getting around the problem wherever we detected repetitive GET calls. It's very important due to rate-limiting and efficiency.
It works with the cases we needed (original_invoice, plan, subscription). It doesn't work for eg. `invo

[2018-05-21 09:10] Domon opened #383 "What is the change from 2.11.3 to 2.11.4"
Hi,

According to https://dev.recurly.com/page/ruby-updates and https://rubygems.org/gems/recurly/versions, `2.11.4` is the latest version of `2.11.x`.

However, I couldn't find either a `2.11.4` tag or any change log on Github.

Could anyone kindly add the tag or indicate where those could be found?

Thanks.

[2018-05-21 17:50] bhelx commented on #383
@Domon Thanks for the question. 2.11.4 is a security patch that was only released to rubygems. We will be updating the github releases this week. You can only find it on rubygems right now:
https://rubygems.org/gems/recurly/versions/2.11.4 . If you want access to the code but don't use bundler or rubygems, you can use the "download" option on that page.

[2018-05-21 18:46] #383 closed

[2018-05-29 18:23] #381 closed

[2018-05-30 17:07] ChaoticBoredom opened #385 "Noisy Output when Using gem with Rails"
The latest set of security patches have introduced some very noisy warnings with regards to logging.
[code]
While helpful at times, this contributes to a large amount of noise, and this message cannot be disabled or hidden.
Additionally, setting `RECURLY_INSECURE_DEBUG` will instead output a different, but equally verbose message.
Setting this message on enabling the insecure option makes sense, h

[2018-05-30 17:19] bhelx commented on #385
@ChaoticBoredom sorry for the annoyance. Because it represents a security concern, we want it to be fairly annoying if enabled in production. In your case, the Railtie was automatically setting the logger: https://github.com/recurly/recurly-client-ruby/commit/b4b5b4b60e1e38238917b0b053678f4a6e78b2e0

I've fixed this for rails users and it will go out in the next release.

[2018-05-30 17:19] #385 closed

[2018-05-30 17:26] ChaoticBoredom commented on #385
Thanks @bhelx . I definitely get having the warning, esp if the insecure value is set, but it was frustrating to not be able to disable it when the insecure value wasn't set and we weren't intentionally trying to log anything.

[2018-05-30 17:50] bhelx commented on #385
Yeah I get it, really sorry about that. I missed the railtie in the security update.

[2018-07-31 03:39] Sinetheta opened #400 "Invalid subscription add_on leads to unhandled exceptions"
When making a `Recurly::Purchase.invoice!(purchase)` with a purchase that includes a subscription with invalid add_ons (eg: non-existent add_on_code) the following unhandled exception occurs

[code]

I think this is because the recursive `invalid!` error handling expects everything along the way to be a `Resource` but `Recurly::Subscription::AddOns` are not.

A cursory examination of the API respo

[2018-07-31 16:32] bhelx commented on #400
@Sinetheta at first glance, this appears to be an issue with the way the API is rendering that xml field:

`purchase.subscriptions[0].subscription_add_ons.add_on` should be something like this: `purchase.subscriptions[0].subscription_add_ons[0].add_on`.

We will take a look at it.

[2018-07-31 16:51] Sinetheta commented on #400
Thanks, but I think there are two problems. The API response could use an index and it would be nice if it returned _all_ of the mistakes instead of just the first invalid add-on it encounters.

But even if it were to do so, I don't think the gem would parse it in it's current state. That's why I came here instead of just reporting to `support@recurly.com` my temporary workaround is

[code]

Don't

[2018-08-22 19:54] aaron-suarez commented on #350
The PR for #334 turned out to be a dud. Closing this out as it is not actionable in this major version of the library

[2018-08-22 19:54] #350 closed

[2018-08-22 20:00] aaron-suarez commented on #377
There is not a generic solution to this problem that will be able to be implemented in this major version of the library. Closing this issue out.

[2018-08-22 20:00] #377 closed

[2018-09-06 04:20] 2potatocakes opened #412 "Tax type and region are coming in backwards"
Hi recurly team, this is more of a bug report but I'm not sure how to escalate it up to your API.

I was trying to debug an issue today and noticed the the `tax_type` and `tax_region` are being sent back from the recurly API backwards when trying to retrieve `invoices` data.

I thought it was the recurly-client-ruby gem that might've been doing it, but I did some local debugging in here: https://g

[2018-09-06 16:23] #412 closed, assigned to aaron-junot

[2018-09-06 23:15] 2potatocakes commented on #412
Thanks for following that up @aaron-suarez , much appreciated 👍

[2018-10-01 21:02] ananova commented on #336
Using release 2.16.0.

This has become a problem for us about a week ago.  We were relying on some invoice properties in [dunning event notifications](https://dev.recurly.com/page/webhooks#dunning-event-notifications) that no longer exist.

API properties:
- attempt_next_collection_at
- balance_in_cents
- closed_at
- collection_method
- created_at
- credit_payments
- currency
- customer_notes
- di

[2018-10-02 21:41] aaron-suarez commented on #336
@jschwendt @ananova If you would like to take a look at #422 and let me know if I may have missed anything, please feel free. There were a lot of properties missing and I believe I've got them all, but more eyes will always help.

Thanks in advance!

[2018-10-02 22:27] #375 closed

[2018-10-03 19:15] #327 closed

[2018-10-03 21:10] #336 closed

[2018-10-04 10:42] ethervoid opened #423 "Strange pager behavior probable related to Enumerable"
Hi!

I'm experiencing some weird behaviour regarding invoices objetct from recurly account.

In the version `2.7.3` if we get and empty invoices collection we can do the following:

[code]

Right now we have a different result using that

[code]

I've read the code and the Pager class inherits from Enumerable so it should be the same. I've also done a `reload` call and nothing.

Any clue? it looks

[2018-10-04 15:36] bhelx commented on #423
@ethervoid Does normal enumeration work for you?

[code]

[2018-10-04 15:44] ethervoid commented on #423
@bhelx it's weird using the same user than before, right now I have one invoice when in the past was 0. Maybe it takes some time to process the subscription and the model knows that there is one invoice in process?

[2018-10-09 15:40] bhelx commented on #423
@ethervoid I can give you a more precise explanation if you share some more code for context, what are you doing right before fetching the invoices? Although invoices are created in the context of the request, they are processed asynchronously and might take 1-3 seconds. Subscriptions also have some async behavior.

[2018-10-17 18:06] hillia opened #425 "OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: sslv3 alert handshake failure"
[code]
Versions:
recurly (2.11.4)
ruby (2.3.0)
OpenSSL 1.0.1k 8 Jan 2015

I intermittently get the above error when using the Recurly Ruby library to make an API call. I've seen it happen on other APIs as well, including `GET /accounts/:account_code/subscriptions`, `GET /accounts/:account_code`, `GET /accounts/:account_code/billing_info`.

From what I can tell, the error occurs because the client

[2018-10-17 19:54] bhelx commented on #425
@hillia we only support versions >= TLSv1.2 due to new PCI requirements. I'm surprised that it's working intermittently, but these issues often have to do with your ruby or openssl dependencies. My gut is telling me that your openssl version is too old. Is that the version of openssl that was used when compiling ruby? Give this script a shot on your server and let us know what it gives you:

[code

[2018-10-17 19:59] bhelx commented on #425
Also, I wanted to ask if this is something that has started happening for you recently? Is there anything that has changed on your end? Or is this a new integration?

[2018-10-17 21:28] hillia commented on #425
Output:
`TLS Version Negotiated: TLS 1.2`

I don't believe that is the same OpenSSL version that was used to compile our current Ruby version. But TLS 1.2 has been supported by OpenSSL as of March 2012. I could try upgrading OpenSSL, but since I can't reliably reproduce the error, it would be difficult to test outside of updating all of our live servers.

We began seeing these errors on June 1, 20

[2018-10-17 21:58] aaron-suarez commented on #425
@hillia Have you tried setting `min_version` on the SSL_CONTEXT? Not sure if that's available in your version of Ruby, but if it is, that might prevent the library from trying to connect with SSLv3.

https://ruby-doc.org/stdlib-2.5.1/libdoc/openssl/rdoc/OpenSSL/SSL/SSLContext.html#method-i-min_version-3D

[2018-10-17 22:03] hillia commented on #425
I have not. I assumed the `TLSv1.2` cipher + `OpenSSL::SSL::OP_NO_SSLv3` flag would prevent that, but I'll give it a try.

[2018-10-17 22:04] bhelx commented on #425
I think these 2 commands should tell you specifically openssl ruby is using. The latter command tells you the compile-time version:

[code]

That's kind of near, but before, we shut off support for 1.0 and 1.1: https://dev.recurly.com/page/tls-v10-deprecation

[2018-10-17 22:06] bhelx commented on #425
BTW, we don't recommend you explicitly specify versions or ciphers unless you must or for testing purposes. Ideally those can be negotiated with the server (which changes with the security landscape).

Hopefully we can get to the bottom of why this is happening and you can remove any customization you have.

[2018-10-17 22:09] hillia commented on #425
[code]

[2018-10-17 22:49] aaron-suarez commented on #220
This issue will be very hard, if not completely impossible to solve. Added a [documentation note](https://dev.recurly.com/v2.15/page/ruby#special-notes) so that users will know not to use the `<<` syntax in that scenario.

Feel free to keep the conversation going here.

[2018-10-17 22:49] #220 closed

[2018-10-17 22:50] aaron-suarez commented on #224
I added a [documentation note](https://dev.recurly.com/v2.15/page/ruby#special-notes). Since this is an impossible problem to solve, I'm going to close out this issue.

Please feel free to keep the conversation going if anyone has any additional comments.

[2018-10-17 22:50] #224 closed

[2018-11-13 18:41] lauramosher opened #430 "`Recurly::Webhook::NotificationError` raising `not a recognized notification` for multiple notifications"
When using `Recurly::Webhook.parse()`, the following notifications are not recognized:

- `transaction_status_updated_notification`
- `updated_invoice_notification` (deprecated in Credit Invoices, but still being sent; and it may continue being sent based on [this message](https://dev.recurly.com/page/webhooks#section-updated-invoice))

Version: `2.17.1`

[2018-11-15 19:07] aaron-suarez commented on #425
@hillia If this is still a problem, I have some more information that might be helpful.

The “sslv3” in the error message can be a red herring for the underlying issue. TLS is really a minor version bump to the SSLv3 protocol; TLSv1.2 is also known as SSL protocol version 3.3. So, the TLS handshake code shares a lot with the SSLv3. Before the protocol is negotiated, it’s common to see an error mes

[2018-11-16 13:13] spyrbri opened #431 "When an adjustment type is nil?"
In the Recurly docs says:
`The type of adjustment to return: charge or credit.`

https://dev.recurly.com/docs/adjustment-object

In the gem there is a case where type is nil.

https://github.com/recurly/recurly-client-ruby/blob/1446464b6ae1e4537fee68f657c4a18b9336043a/lib/recurly/adjustment.rb#L60

 When does this happen?

[2018-11-16 17:03] aaron-suarez commented on #431
@spyrbri That is an excellent question. The easiest demo is if you are creating a new Adjustment object (I'm not sure why you might do this in production, but technically the library allows this):

[code]

That being said, is the real question whether the API will ever return an adjustment that has a nil type? I'm not sure the answer to that, but in 5 minutes of testing various ways to create an a

[2018-11-19 16:52] aaron-suarez commented on #431
This is going to take a little investigating for me to reproduce. If either of you can provide example XML that causes this (and @spyrbri if you can please indicate whether this happens with Webhooks or via an API request, that would help as well).

If there's a problem with an API request, please indicate which method on what type of object causes this behavior. e.g., `adjustment.find 'something'

[2018-11-21 01:06] aaron-suarez commented on #430
Thanks for pointing this out. I added a note to the documentation here https://dev.recurly.com/v2.16/page/ruby#handle-webhooks.

Please feel free to catch these errors and swallow them. But of course, be sure to let us know if you are trying to actually use a webhook that is for whatever reason not implemented in the library.

[2018-11-21 21:19] aaron-suarez commented on #431
Ok, just so we're on the same page:

When an adjustment comes in from the API, its root element looks like this, with the attributes `href` and `type`:
[code]

Then, the XML parser goes to read that and hits this bit of code:
https://github.com/recurly/recurly-client-ruby/blob/1446464b6ae1e4537fee68f657c4a18b9336043a/lib/recurly/resource.rb#L406-L408

At this point, there should be an attribute ca

[2018-11-21 21:29] aaron-suarez commented on #431
Oh, to investigate further, it would also be helpful to know what versions of the Ruby client and Nokogiri you're using.

[2018-11-21 23:03] #430 closed

[2018-11-22 07:19] spyrbri commented on #431
First of all the problem is also on invoices where the type attribute is not like
[code]
It is another attribute. `<type> charge </type>`

From the info we get from production, the instance variable is not set as well. We tried to get it from the instance variable as a fallback for adjustments and invoices but the error still occurs. We will have more info later today.

[2018-11-22 08:40] pkopac commented on #431
[code]

[2018-11-23 08:42] spyrbri commented on #431
From our production logging we found out that we receive some invoices that do not have the type element in the xml. So the problem is coming from Recurly.
We will send a question to Recurly's support.
Thank you for your help.

[2018-11-24 10:02] crysper opened #435 "How to stop annoying: "[WARNING] Recurly logger has been disabled" on 2.10.5 version?"
I'm well aware that you made an update for other version to disable this message, but you forgot to also update the 2.10.5 version.

I can't upgrade to 2.16, that's why I need a way to disable this, maybe a monkey patch or something?

[2018-11-26 15:43] aaron-suarez commented on #431
Thanks for the update. I will close this issue when we've found an answer internally regarding the API behavior.

[2018-11-26 16:09] aaron-suarez commented on #435
@crysper The code that prints out the warning is in the `logger=` method. Are you doing something similar to the following somewhere in your implementation?

[code]

[2018-11-26 16:18] crysper commented on #435
No, I'm just using Rails and I can see this code:
`initializer :recurly_set_logger do
      Recurly.logger = Rails.logger
    end`

on 2.10.5 version of the gem which was removed on other versions

[2018-11-28 16:46] aaron-suarez commented on #435
We strongly recommend that you upgrade to the latest version for security and bug fixes as well as feature upgrades. If you need help upgrading from 2.10.5 to 2.16, please feel free to contact Recurly support.

However, in the mean time, if you absolutely must disable it right now, perhaps you can build from source and cherry-pick that commit from git. It was added in 1e4c7567eea314fe496166b9176c2

[2018-11-28 16:46] #435 closed

[2018-11-28 22:34] #431 closed

[2018-12-17 20:35] dixalex commented on #400
+1

@bhelx Not pushing, but any update on this?

[2019-01-17 04:24] kcsuyog opened #446 "sor"

[2019-01-17 04:25] #446 closed, assigned to nobody

[2019-01-21 09:09] yoavfranco commented on #400
@bhelx Hi! we're also seeing a similar issue but with `coupon_code` in the `Recurly::Purchase.invoice!(purchase)`. I suspect that it stems from the same source.
 We're getting `NoMethodError: undefined method `invalid!' for "[COUPON_CODE]":String`

It's been a month since this was last updated, sorry to be pushy, but is there an expected fix anytime soon?

Thanks in advance

[2019-02-18 18:15] natonnelier opened #451 "Recurly::Resource::Invalid: account is invalid error when creating Subscription with valid account"
I'm using the following code to create Accounts:

[code]

This seems to work fine:

[code]

And I am also able to  see the created account in Recurly's Admin Panel.

However, when I try to create a Subscription linked to this Account I get the following Error:

`<Recurly::Resource::Invalid: account is invalid>`

This is the code I use to create the Subscription:

[code]
I'm using `v 2.17` of the g

[2019-02-18 19:35] aaron-suarez commented on #451
We'll take a look and see if we can reproduce. Thank you for reporting the issue!

Also, feel free to contact Recurly support as well if you're having this problem with multiple accounts.

Taking a quick look at the docs, I notice that a `currency` attribute is also required to create a subscription, but your code only includes a `plan_code` and `account`. It's possible the API is returning (or Ru

[2019-02-18 19:38] bhelx commented on #451
@natonnelier The `Invalid` error comes with a list of params explaining why the request was invalid. Please let us know what those are. Example:

[code]

[2019-02-18 20:34] natonnelier commented on #451
thanks for the comments. Tried with the currency attribute @aaron-suarez but got the same result. (Currency is anyway set as default in the initializer: `Recurly.default_currency = "USD"`)

[2019-02-18 20:41] natonnelier commented on #451
@bhelx the error is not in `Account.create` but in `Subscription.create`. And this is all i get in `record.errors`:
`{"account"=>["is invalid"]}`

[2019-02-18 20:59] bhelx commented on #451
@natonnelier that's pretty strange. Could be a bug but would need to see the xml. Did you know that you can create the account and subscription in the same call?

[code]

As for the error. Could you perhaps log the xml you are seeing from the response?

To enable logger:
[code]
You must also run the application with an environment variable `RECURLY_INSECURE_DEBUG` set to `true`.

If you aren't sur

[2019-02-18 21:34] natonnelier commented on #451
@bhelx I'm not able to make the Logger work. Do you have documentation for it somewhere?
This is our subdomain: _cloudapp-staging_ if you want to check. I'm working in mi local environment now but hitting that subdomain.

[2019-02-18 22:04] bhelx commented on #451
Sorry, we make it intentionally obscure to enable for security reasons: https://github.com/recurly/recurly-client-ruby/blob/master/lib/recurly.rb#L93

This is the response I'm seeing:

[code]

Where are you getting the token from? Is it coming from recurly.js?

[2019-02-18 22:13] natonnelier commented on #451
yes @bhelx , I followed this docs: [](https://dev.recurly.com/docs/recurly-js-getting-a-token)
Should mention also we split frontend and backend. I generate the token in the frontend and send a request to the api with recurly_token as a param. Is in the api where the requests we are discussing here take place.

[2019-02-18 22:24] bhelx commented on #451
As far as I can tell, your request looks right. I don't think it's a problem with this library since it appears to be generating the correct xml. I also was not able to reproduce on any of my test sites using the same code and version. I suspect the problem is in your site configuration but will not be able to confirm today. I suggest you email support@recurly.com with your request and response (a

[2019-02-18 22:29] natonnelier commented on #451
will do @bhelx . Thanks

[2019-02-20 19:06] bhelx commented on #451
@natonnelier not sure if you have reached out to support yet. We have identified an API change here that is causing this problem. A patch is on the way on the API side. I'm gonna close this for now since it's not related to the ruby library, but feel free to keep the discussion going or re-open if you feel like it relates to this library.

[2019-02-20 19:06] #451 closed

[2019-02-20 19:28] natonnelier commented on #451
great, thanks @bhelx
I assume there is no change required on our side, right?

[2019-02-20 20:22] bhelx commented on #451
There should not be, but I'll let you know if that changes.

[2019-02-21 22:02] yakjuly opened #453 "Recurly::Coupon#generate get nil error"
[code]
It has two issues.
1. It may return a used coupon_code, not a unused one.  (it happens once)
2. It may raise `NoMethodError · undefined method '[]' for nil:NilClass`.

I am using recurly v2.16.0

[2019-02-21 23:07] drewish commented on #453
How long ago did you last hit this? There was a fix that went out today to address an issue with `unique_coupon_codes` not being the root element in the response.

[2019-02-22 00:08] yakjuly commented on #453
Issue 1  return a used coupon code happens yesterday.

'nil' exception happens today, it is probably true caused by server side.

[2019-02-22 16:20] yakjuly commented on #453
@drewish Just tested, still get nil Exception.
[code]

[2019-02-22 19:11] JohnBDonner commented on #400
This same thing is happening to me with the `Recurly::Plan` object.

I try to update a `Plan` with new pricing info:

[code]

And this raises an unhandled exception:
[code]

After some digging, I noticed that I'm getting a `422` error, with an error response body:
[code]

Two things are odd to me here:
1. the message of this `422` error never gets to me, because the `Money` class doesn't implement

[2019-02-22 20:58] drewish commented on #400
@JohnBDonner did you enable that currency on the site on `/configuration/currencies`?

[2019-02-22 22:30] aaron-suarez commented on #425
@hillia Are there any updates on this? Are you still seeing this error on newer versions of the Ruby client library?

[2019-02-22 22:36] JohnBDonner commented on #400
@drewish Yes, I actually ended up enabling `BRL` 👍 I had forgotten that was necessary 😅

Though, the `undefined method 'invalid!'` error should still be fixed. I think `#invalid!` needs to either be included on the subresources (which don't currently inherit from `Resource`) or it needs to handle non-`Resource` objects as attributes.

[2019-02-25 18:38] aaron-suarez commented on #400
@yoavfranco, Can you please provide a code sample? I did the following without encountering a NoMethodError:

[code]

[2019-02-25 21:27] hillia commented on #425
Not yet. I'll try bumping the client version and let you know.

[2019-03-06 17:58] #400 closed

[2019-03-06 18:17] aaron-suarez commented on #348
Is there any chance #455 fixed the general case for this? @bhelx Were you able to reproduce this? Perhaps we can verify and close this out

[2019-03-07 00:19] bhelx commented on #348
I think it's safe to close with #455 . Please re-open @bry if you feel like it wasn't addressed.

[2019-03-07 00:19] #348 closed

[2019-03-07 21:40] aaron-suarez commented on #348
@bry The fix from #455 was released just now to rubygems, I appreciate you re-opening this if that fix does not solve this problem. Thanks!

[2019-03-07 21:41] aaron-suarez commented on #400
@Sinetheta @dixalex @yoavfranco @JohnBDonner The fix from #455 was released just now to rubygems

[2019-03-08 23:27] JohnBDonner commented on #400
@aaron-suarez Thanks!

Is it possible to see the detailed error message of these nested resources after this fix?

For example, this XML response:

[code]

Being shown instead of just:

[code]
?

[2019-03-09 00:16] aaron-suarez commented on #400
No, I don't think so. Here's the particular code that handles these errors:
[code]
In the scenario we're talking about, it gets down to the line `c.invalid! attribute_path, error if c.methods.include? :invalid!`

If `c` were a `Resource`, the `invalid!` method would put the `error` (which is the error message, "is not accepted by the site" in this case) in the errors hash of the sub-object. But be

[2019-03-14 19:38] aaron-suarez commented on #453
The server-side fix for this issue was deployed today, it should work now. I tested on my sandbox site and it works for me. Please feel free to comment or re-open if you continue to experience issues.

[2019-03-14 19:38] #453 closed

[2019-06-11 13:17] silambarasanmkce opened #477 "undefined method `private_key=' for Recurly::JS:Module"
i'm using a method  Recurly.js.private_key it is showing undefined method `private_key=' for Recurly::JS:Module

[2019-06-11 13:39] bhelx commented on #477
@silambarasanmkce This property was removed in 2.17.0. See the Upgrade Notes for details: https://github.com/recurly/recurly-client-ruby/releases/tag/2.17.0

[2019-06-11 13:40] #477 closed

[2019-06-13 05:58] spyrbri opened #478 "API version 2.2 deprecation"
I see that the API version that the gem uses is hardcoded to 2.20. Is there a plan on moving to a later version since it looks like this is going to be deprecated soon.

https://blog.recurly.com/recurly-api-v2.6-and-lower-deprecation-and-end-of-life?utm_content=93646882&utm_medium=social&utm_source=twitter&hss_channel=tw-57871527

https://github.com/recurly/recurly-client-ruby/blob/master/lib/recu

[2019-06-13 06:56] #478 closed

[2019-06-13 13:49] aaron-suarez commented on #478
Hi there @spyrbri, thanks for your question. Based on the fact that you closed this out, I'm sure you realized that 2.20 is the most recent version of the API, released after 2.19. I just wanted to explicitly answer the question in case someone comes across this in some sort of search.

[2019-06-13 13:51] spyrbri commented on #478
Yes, sorry I got scared by a recent blogpost but then I realized I was mistaken.

[2019-07-01 19:13] aaron-suarez commented on #423
Closing this out because as far as we can tell, this is not related to enumerable, it is probably due to the async behavior described in the last two posts. If using normal enumeration (as described in the [dev docs](https://dev.recurly.com) and https://github.com/recurly/recurly-client-ruby/issues/423#issuecomment-427065576 is causing a problem, please feel free to reopen the issue and provide fu

[2019-07-01 19:13] #423 closed

[2019-07-01 19:18] aaron-suarez commented on #425
Closing this out because it appears to only affect older versions of OpenSSL, Ruby and the Recurly gem. If anyone sees this issue on the latest version of OpenSSL, Ruby and this gem, please comment here or open a new issue. Thank you.

[2019-07-01 19:18] #425 closed

[2019-07-22 10:17] renatolond opened #487 "Cannot create account acquisition using `build_account_acquisition`"
**Describe the bug**

When we try to create a new account acquisiton, we get a 404.

**To Reproduce**

Using an existing account, do:

[code]

**Expected behavior**

During the save we get:
[code]
It seems to me it should be posting to /acquisition, is it the wrong way to build an account acquisition?

**Your Environment**

- Which version of this library are you using? 2.17.11
- Which version of

[2019-07-22 14:35] drewish commented on #487
Does `account` already exist or is it a new object too?

[2019-07-22 14:39] renatolond commented on #487
It usually is new, created with:
[code]

followed by updating billing info (which is partially passed during account creation), something like:

[code]

And then we start to fill account_acquisition.

[2019-07-23 19:18] aaron-suarez commented on #487
@renatolond You are correct, it should be posting to `/acquisition` but the library is currently attempting to post to `/account_acquistion` which is incorrect. We'll work out a fix for it, thanks for reporting this!

[2019-07-23 19:35] aaron-suarez commented on #487
@renatolond After looking at the problem further, I realize that fixing the posting destination wouldn't actually fix the problem, because calling `account.build_account_acquisition` in this manner would post it without the body. We will consider figuring out a way to either support or remove this interface because you are correct that it does not work. In the meantime, I suggest using the followi

[2019-07-23 19:47] aaron-suarez commented on #487
I have just updated the documentation for the examples for Account Acquisition. Please see https://dev.recurly.com/docs/create-account-acquisition for examples.

[2019-07-23 20:56] aaron-suarez commented on #487
@renatolond I wanted to drop another note to make sure that you're aware that you don't have to make so many calls to the API as you appear to be making. It would work just fine if you initialize an account object, then add the acquisition info as well as the billing info, then call `account.save!` which will save all of the information in one API call. Without knowing more details of your integra

[2019-08-06 23:51] cfortuner opened #489 "3DS2 Error Handling Issue when submitting the 3DS2 Action Result Token ID"
**Describe the bug**

I am receiving an error when sending recurly the 3DS2 Challenge response token: `three_d_secure_action_result_token_id` via  the `BillingInfo.save!` method.

`NoMethodError message undefined method `value' for nil:NilClass exception undefined method `value' for nil:NilClass`

**To Reproduce**

Test card: 4000000000003220 - challenge flow

1) Using the Challenge test card, tri

[2019-08-07 01:04] cfortuner commented on #489
Update:
I printed out the xml document and it shows
[code]

I have tried resubmitting the same form token and submitting a different form token with the same result.

[2019-08-07 16:49] bhelx commented on #489
@cfortuner just wanted to let you know we have eyes on this. And thanks for all the detail! I haven't flipped this over to `bug` yet because we are still investigating the issue on the API side. However, after we get a resolution, i might consider making this parsing code more resilient.

[2019-08-07 16:59] cfortuner commented on #489
@bhelx Thanks for helping out! I'm not entirely sure it's a bug either.

I think my main concern is that the error I received was a `three_d_secure_action_result_token_mismatch`. Please let me know if this was expected when using the Test Card.

Thanks again!

[2019-08-13 16:39] cfortuner commented on #489
@bhelx Any update on this? Specifically on my last question about if I should be receiving a `three_d_secure_action_result_token_mismatch` ?

[2019-08-16 13:09] ciaran16 commented on #489
I'm also experiencing this issue, with both the challenge flow and 4000000000003063 (device) fingerprint flow, and the xml had the same `three_d_secure_action_result_token_mismatch` error too

[2019-08-16 21:14] cfortuner commented on #489
Update + @ciaran16

I was able to successfully complete purchase by adding the  three_d_secure_action_result_token_id to the billing info in my purchase calls.

See Docs https://dev.recurly.com/docs/versioning:
CHANGES IN V2.21
[code]
I'm not sure if the three_d_secure_action_result_token_mismatch was due to a different error but it seems like its working now.

[2019-08-17 23:13] cfortuner commented on #489
Update: This worked for purchases, but not for saving billing info.

Still getting the
<error_code>three_d_secure_action_result_token_mismatch</error_code>

when trying to update billing info.

[2019-08-19 09:55] ciaran16 commented on #489
Thanks @cfortuner, also managed to get this working for purchases but not for billing info.

I've reproduced this using the recurly API directly so I think the only bug with the client library is it doesn't handle this type of error gracefully

[2019-08-19 13:51] lauramosher commented on #489
@bhelx Any update on getting this working for billing info?

[2019-08-19 23:10] ahmadfh commented on #489
@bhelx  i am also having **`three_d_secure_action_result_token_mismatch`** when creating a **subscription** or **account**

[2019-08-20 20:04] neuronicnobody commented on #489
Hi all,

**Quick update on this issue:**
We've identified the root cause for the token mismatch error and are planning to deploy a patch to resolve it this week. The issue is on the API side, and while it is a valid error code, it is being returned in many cases where it should not.

Separate, but related, the client library isn't handling this specific error in the XML gracefully. We are working

[2019-08-20 22:59] neuronicnobody commented on #489
All,

The patch was just pushed to production and our QA team has verified that they're not seeing the issue. Please feel free to test again and let us know if you're still seeing the issue.

[2019-08-23 18:34] yakjuly opened #496 "3DS transaction error handle bug"
Ruby Client should handle below example error code

https://dev.recurly.com/page/recurly-3d-secure-2-integration-guide#section--step-3-process-the-purchase-response

[code]

**Describe the bug**

[code]

**To Reproduce**

1. Create a Recurly account
2. Using Recurly.js to generate a billing info recurly_token
3. Use token_id to create billing info,  receive `Recurly::Transaction::ThreeDSecureError

[2019-08-27 04:59] bycare commented on #489
@bhelx, I am still  getting following error

three_d_secure_action_result_token_mismatch
hard
Expected token does not match the action that created it.
An error occurred while processing your transaction. Please contact support

[2019-08-27 12:39] thevasya commented on #489
I'm also seeing this issue with my integration. I don't have it with 4000000000003220 (challenge flow) and 4222222222222220 (frictionless flow), these two work well for me. But when I try 4000000000003063 (fingerprint flow), the issue is there.

Let me provide more details on how two different flows work for me:

#### Challenge flow

1. Fill form using `4000000000003220` for card number.
2. Tokeni

[2019-08-27 14:04] r4m commented on #489
Hi is it solve in which gem version? 2.18.0? Thanks

[2019-08-29 08:56] PaulGilmartin commented on #489
We are currently testing the PSD2 fingerprint/challenge flow via the recurly API. Although I'm using the python client (using the Python client version 2.9.8 and the recurly client API version 2.21), I'm still experiencing similar issues mentioned in this thread:

 We're following the instructions found at https://dev.recurly.com/page/recurly-3d-secure-2-integration-guide , testing using the card

[2019-08-29 14:30] vrodic commented on #489
The 3D secure flow worked for me previously (tested on 2019-08-08), using Ruby 2.17.11, now it fails in both client versions (2.18 and Ruby 2.17.11), with the

<error_code>three_d_secure_action_result_token_mismatch</error_code>

It seems to me this is some kind of server-side regression

[2019-08-29 19:34] bhelx commented on #496
Closing as duplicate of https://github.com/recurly/recurly-client-ruby/issues/489

[2019-08-29 19:34] #496 closed

[2019-08-29 21:21] santiestra opened #499 "Recurly::Webhook::NotificationError: 'NewShippingAddressNotification' is not a recognized notification"
**Describe the bug**

When the webhook that is sent is from Recurly is from the type 'NewShippingAddressNotification', the recurly gem doesn't know how to process it and raises this exception:

[code]

**To Reproduce**

You need to have an endpoints that listen to the webhook notifications from recurly.
Somewhere after that action is called, you need to call
`Recurly::Webhook.parse(data)`

**Expec

[2019-09-09 11:56] r4m commented on #489
@bhelx is there any update? The error is still present and we would not release in production the front/back end updates to be PSD2 compliant with Recurly until the bug is fixed. Thanks

[2019-09-11 11:54] walerian777 commented on #489
Hi @bhelx,
it looks like the issue hasn't been resolved yet.
First of all, we still receive `three_d_secure_action_result_token_mismatch` in unexpected situations.
Additionally, the library is not able to parse the response just like in the OP's case.

Could you provide any ETA on these two problems?

[2019-09-11 18:43] #499 closed

[2019-09-13 16:25] sebastienluquet commented on #489
Hi, I also encountered "Expected token does not match the action that created it" at some point while testing 3DS2 and manage to understand what I was doing wrong : I was actually submitting a [new](https://github.com/recurly/recurly-js-examples/blob/1c2e3f054936536cd4ebbfe6703fc7ccc38fa46d/api/ruby/app.rb#L47) account_code on second request.

[2019-09-13 19:27] bhelx commented on #489
@walerian777 I don't think this is related to the original issue. I can't say for sure without seeing your code but you should check against the guide that @thevasya linked. Per the integration guide, please confirm that Account / Billing info details are not changing between requests to the API endpoints when passing in the 3DS Action Result Token'. If you are still finding an issue, please conta

[2019-09-13 19:28] #489 closed

[2019-09-13 22:22] sebastienluquet commented on #489
@bhelx I think that the guide that @thevasya linked should be updated to mention that **Account** / Billing info / credit card token have to match.

I also think that recurly-js-examples can not currently work [at leat ruby one](https://github.com/recurly/recurly-js-examples/blob/1c2e3f054936536cd4ebbfe6703fc7ccc38fa46d/api/ruby/app.rb#L47) since SecureRandom.uuid is called on each request.

As a

[2019-09-13 22:50] bhelx commented on #489
Thanks for the feedback @sebastienluquet. We are going to update the guide and the example apps.

[2019-09-13 22:57] sebastienluquet commented on #489
@bhelx Thank you.

[2019-09-18 20:29] #487 closed

[2019-10-29 23:45] wharle90 opened #526 ".find_each throws Timeout::Error occasionally"
This problem started for us within the last week. Nightly, we pull a list of accounts and subscriptions from recurly and update some mrr values locally from them. This has always worked for us with no issue. Now, 3 out of the last 5 nights, while doing this process we have gotten a timeout which has caused the process to stop. Has there been a change here or is there maybe a way that I can pickup

[2019-10-30 17:19] bhelx commented on #526
@wharle90 Thanks for reporting. It's hard to imagine this is related to the ruby client, but I can do some investigation. Have you filed a support ticket? I'd suggest you do so in parallel if you have not.

Also, I assume you are calling `find_each` on the accounts endpoint?

[2019-11-05 20:14] bhelx commented on #526
@wharle90 did you file a support ticket? Is this something you are still experiencing?

[2019-11-27 01:54] kevinjcoleman opened #536 "Undefined method cast"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

**Describe the bug**

We have an `ActiveRecord` class called `Invoice` and for some reason this was sometimes breaking specs. To fix this, I added:
[code]
to `lib/recurly/schema.rb:46` and

[2019-11-27 03:01] douglasmiller commented on #536
Hey @kevinjcoleman

Thank you for bringing this to our attention. I was able to reproduce the behavior that you're describing in a `pry` session:

[code]

I believe that this diff will solve the issue for all other constants. I'll verify tomorrow and get this released asap.

[code]

[2019-11-27 17:27] #536 closed

[2019-11-27 20:39] kevinjcoleman commented on #536
@douglasmiller thanks for the quick fix!

[2019-11-28 16:48] hkmaly opened #538 "Getting ArgumentError instead of Recurly::Errors::ValidationError"
I'm getting ArgumentError instead of Recurly::Errors::ValidationError when I put nil instead of actual value into account's first name.

**To Reproduce**
[code]
**Expected behavior**

Recurly::Errors::ValidationError with recurly_error containing details about what's wrong.

**Your Environment**

recurly-3.1.0
ruby 2.3.3p222 (2016-11-21) [x86_64-linux-gnu]

[2019-11-28 17:00] bhelx commented on #538
Thanks for reporting @hkmaly. I was able to reproduce the problem. We will start a patch to fix this.

[2019-11-28 17:09] bhelx commented on #538
@hkmaly Could you confirm the by pulling #539 ?

[2019-11-28 21:44] hkmaly commented on #538
Well, it's no longer complaining about first_name, but it's now complaining about
[code]
on my original example (yes, it should be just 'code' ...)

I think that turning off the local validation isn't correct solution, I would expect to change local validation to return Recurly::Errors::ValidationError ...

[2019-11-29 00:49] bhelx commented on #538
@hkmaly thanks for trying it out!

We have not turned off the client-side validation. The only validation the client does is checking that you have spelled your key names correctly and passed in the correct types. The PR turns off these type-checks just for nil values (since any type can be nil). It's up to the server to validate everything else.

With regards to the ArgumentError, I understand th

[2019-11-29 02:46] hkmaly commented on #538
Hmmm ... true, this explanation for those two errors being different makes sense. I would still think it should be Recurly::Errors::something and not classical ArgumentError - probably special error class. And, yes, it should be mentioned in documentation.
Also, I'm little worried that this kind of errors may start appearing on library upgrade ... although, if the specification wouldn't change in

[2019-11-29 03:21] bhelx commented on #538
Agreed. We will follow up with that change. I also think the message could be more helpful. We do have a "did-you-mean" functionality in these errors but they only show up if the spelling is close to an existing key. Example, suppose you spell `code` as `coode`, you will see this error:

[code]

I think the takeaway is that it should be some kind of Recurly namespaced error and maybe we can provid

[2019-11-29 12:13] hkmaly commented on #538
Not only the message could be more helpful, you can also add some fields which would be easier to parse. Like, list of invalid fields (in the request), list of missing (and required) fields ... wait. It currently stops at first problem doesn't it? Does it need to?

[2019-11-29 15:13] hkmaly commented on #538
And speaking about documenting errors, getting Recurly::Errors::InvalidTokenError when using token "hello" is not surprising, but I don't see it in documentation either.

[2019-11-29 20:52] hkmaly opened #540 "Implement way to actually get ErrorMayHaveTransaction"
**Describe the bug**

When error has class Recurly::Errors::TransactionError, error.recurly_error is of type Recurly::Resources::Error. It should be Recurly::Resources::ErrorMayHaveTransaction.

The problem seem to be caused by Recurly::JSONParser.parse(nil, error.get_response.body) returning Recurly::Resources::Error.

**To Reproduce**

... not sure how to fully reproduce without recurly js ... h

[2019-11-29 20:53] hkmaly commented on #540
I suppose following code might implement it correctly:
[code]

[2019-11-29 21:12] bhelx commented on #540
Thanks! We found the same issue with the other clients last week: https://github.com/recurly/recurly-client-net/pull/465

We'll prepare a fix for it.

[2019-12-02 14:53] #538 closed

[2019-12-02 17:26] #540 closed

[2019-12-03 19:20] hkmaly opened #543 "It's hard to find out what payment method was used"
There is payment_method object as part of transaction, but it doesn't actually show what payment method was used. Sure, if card_type is set it would probably be credit card and billing_agreement_id suggests paypal, but it would be better to have explicit field, especially considering more payment methods may be added.

According to API documentation, it might be possible to use the "object" field,

[2019-12-03 19:31] bhelx commented on #543
@hkmaly I was just working on a fix for this when you posted. There should be a payment_method attribute on the BillingInfo objects and the Transactions. Those have an `object` attribute explaining the method:

[code]

The object attribute was not being parsed.

see docs for possible values: https://developers.recurly.com/api/v2019-10-10/index.html#operation/get_transaction

[2019-12-03 19:37] #543 closed

[2019-12-04 04:51] hkmaly commented on #543
Thanks.

So I guess I need payment_method.object.gsub(/_billing_agreement$/, '').gsub(/_info$/,'').gsub(/_/,' ') and hope nothing weird gets added ...

[2019-12-23 17:15] joannasese commented on #526
@wharle90 if you're still having issues, please let us know. I'll close this ticket for now.

[2019-12-23 17:15] #526 closed

[2020-02-03 19:57] monicagallegos opened #548 "Update Faraday Version Maximum"
Hello! Are there any plans underway to update the max-version constraint on the Faraday dependency? I see here: https://github.com/recurly/recurly-client-ruby/pull/518 that a max constraint of 0.16 was added to get specs to pass. Would love for this to be revisited soon so that the recurly gem does not prevent me from adding gems that use higher versions of faraday.

[2020-02-03 20:00] bhelx commented on #548
@monicagallegos The library was not working for versions `> 0.16` so we could not support it. I'm happy to look into that again. Perhaps we just constrain it at `1.0.0`. What version are you running out of curiosity?

[2020-02-03 20:45] monicagallegos commented on #548
@bhelx thank you for your response and yes if you could look into the issue that would be greatly appreciated. Down with the 1.0.0 constraint. I am currently using Faraday at 17.1

[2020-02-03 20:47] #548 closed

[2020-02-03 21:14] bhelx commented on #548
@monicagallegos I've released this as `3.2.2`:

Rubygems: https://rubygems.org/gems/recurly/versions/3.2.2
Notes: https://github.com/recurly/recurly-client-ruby/releases/tag/3.2.2

Thanks for posting. Let us know if you have any further issues.

On another note, we were just discussing removing the Faraday dependency last week. This is probably something we will want to look into as people start t

[2020-02-03 21:17] monicagallegos commented on #548
@bhelx Amazing. Thank you so much. You rock!

[2020-03-23 00:44] bhelx commented on #548
@moni-ellevest #568 will go out in the next release (likely 3.4.0). On top of removing faraday, it has some other HTTP improvements worth updating to.

[2020-07-02 00:05] Anjali1982 opened #607 "getting below error"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

[2020-07-02 00:09] Anjali1982 commented on #607
SSL_connect returned=1 errno=0 state=error: sslv3 alert handshake failureSSL_connect returned=1 errno=0 state=error: sslv3 alert handshake failure

ruby -v
ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-darwin15]

 openssl version -a
OpenSSL 1.1.1d  10 Sep 2019
built on: Tue Feb 11 23:40:31 2020 UTC
platform: darwin64-x86_64-cc
options:  bn(64,64) rc4(16x,int) des(int) idea(int) blowfish(ptr)

[2020-07-02 03:56] douglasmiller commented on #607
Hey @Anjali1982, thank you for reaching out to us. Could you provide a little more information about the SSL issue that you're experiencing? It would be helpful to know what version of the client library you are using. It may also be useful if you could provide a minimal code example that produces the error that you are experiencing.

[2020-07-02 04:32] Anjali1982 commented on #607
while executing the script written in ruby ,i am getting below error ,that scripts basically talks to Netapp controllers and create a zap session ...i get following error

SSL_connect returned=1 errno=0 state=error: sslv3 alert handshake failureSSL_connect returned=1 errno=0 state=error: sslv3 alert handshake failure

[2020-07-02 18:59] douglasmiller commented on #607
@Anjali1982 have you looked through [this similar issue](https://github.com/recurly/recurly-client-ruby/issues/425)?

Ultimately, the issue appears to be related to the TLS version that your system is attempting to use when negotiating a connection with Recurly API, which supports a minimum version of TLS v1.2.

It would be very helpful if you could share which version of the Recurly ruby client l

[2020-07-15 15:49] joannasese commented on #607
Hi @Anjali1982. As we have not heard from you, I'm going to go ahead and close this ticket. If you are still encountering issues, please open another ticket. We're happy to help!

[2020-07-15 15:49] #607 closed

[2020-09-30 18:15] jalhadi opened #640 "uninitialized constant Recurly::Errors::ServiceNotAvailableError"
**Describe the bug**
For some inputs, when `preview_purchase` is called on a client, the API returns `ServiceNotAvailableError`, but this causes an unhandled exception of `uninitialized constant Recurly::Errors::ServiceNotAvailableError`. I am unable to see the underlying API issue as the uninitialized constant error supersedes it.

**To Reproduce**
I've run into this issue when the state and zip

[2020-09-30 18:21] joannasese commented on #640
Hi @jalhadi. Thanks for reporting. We'll investigate.

[2020-10-08 16:43] joannasese commented on #640
Hi @jalhadi just wanted to check in. We haven't forgotten about you. This is a quick fix and we're aiming to patch it early next week.

[2020-10-14 22:51] joannasese commented on #640
Hi @jalhadi. We'll be adding `ServiceNotAvailableError` as a known error type. In addition, we will be merging [this PR](https://github.com/recurly/recurly-client-ruby/pull/641) after a few changes we requested are made.

[2020-10-16 15:39] joannasese commented on #640
Hi @jalhadi. https://github.com/recurly/recurly-client-ruby/pull/641 has been merged. I'll close out this ticket.

[2020-10-16 15:39] #640 closed

[2020-11-18 20:04] marcmoy opened #652 "Refund API V2 Error Details"
Hi, is there a way to get additional details about a `#<Recurly::API::UnprocessableEntity: 422 Unprocessable Entity (POST https://api.recurly.com/v2/invoices/..../refund)` error? The `Recurly::API::UnprocessableEntity` class does not provide a method to inspect the exact reason behind the error. Based on what I'm seeing in the Recurly dashboard, I'm noticing the refund could be rejected due to an

[2020-11-18 20:17] douglasmiller commented on #652
Hey @marcmoy,

The `UnprocessableEntity` error extends `ClientError` which extends `ResponseError`. You should be able to obtain adequate information about the cause of the error from [the methods on `ResponseError`](https://github.com/recurly/recurly-client-ruby/blob/v2/lib/recurly/api/errors.rb#L6). Have you checked `UnprocessableEntity#symbol`, `UnprocessableEntity#description`, and/or `Unproce

[2020-11-18 20:24] marcmoy commented on #652
@douglasmiller Yes I tried inspecting the error but not seeing the results I'm expecting:
[code]

[2020-11-18 20:27] marcmoy commented on #652
Following up... I just discovered the raw xml response is extractable via `e.response.body`.
[code]
However, I'm curious if there is a method available to return the `transaction_error` instead of having to parse the XML response?

[2020-11-18 20:42] douglasmiller commented on #652
I think that response should be a caught as a `Recurly::Transaction::Error`. The base transaction error [extends the `UnprocessableEntity` error](https://github.com/recurly/recurly-client-ruby/blob/v2/lib/recurly/transaction/errors.rb#L27). The methods defined on the `Recurly::Transaction::Error` should capture the specifics of the error.

Since the `Recurly::Transaction::Error` extends `Unprocess

[2020-11-18 21:21] marcmoy commented on #652
@douglasmiller I tried but I'm still not able to get the expected result. See anything wrong with the sample code below?
[code]

[2020-11-18 22:20] douglasmiller commented on #652
@marcmoy, this looks like a bug in the client. I'll get this scheduled to be fixed.

[2020-11-24 17:36] joannasese commented on #652
Hi @marcmoy. Thanks again for reporting. We've released [a patch](https://github.com/recurly/recurly-client-ruby/pull/653) that is included in [version 2.18.18](https://github.com/recurly/recurly-client-ruby/releases/tag/2.18.18) of this client library. If/when you upgrade from 2.17 to 2.18, [I don't anticipate that you'll have any issues](https://github.com/recurly/recurly-client-ruby/blob/v2/CHA

[2020-11-24 17:36] #652 closed

[2021-02-18 21:42] jguidry-recurly opened #662 "Release Summary for 4.0.0"
## Breaking Changes

- Remove `site_id` and `subdomain` from client initializer.  [#624]
- Remove `set_site_id` method from client.  [#627]
- Classify unexpected error responses from Recurly API via an HTTP status code mapping provided in `Recurly::Errors::ERROR_MAP`.  [#616]
- Remove `NetworkError` class. All error classes now extend the `APIError`. This means that the order of multiple rescue bl

[2021-02-22 03:25] noctivityinc opened #664 "Every method is returning wrong number of arguments"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

**Describe the bug**

We have an initializer that intis the recurly client:
[code]
but every single method, such as ```list_plans``` returns an ```ArgumentError```:

[code]

**To Reproduce*

[2021-02-22 15:41] douglasmiller commented on #664
Thank you for reporting this bug, @noctivityinc .

This appears to be an issue with ruby 3.0 and the updated handling of the double splat operator. We will investigate what needs to be updated and keep you informed.

[2021-02-22 15:42] noctivityinc commented on #664
Is there a work around in the meantime?

On Mon, Feb 22, 2021 at 10:41 AM Douglas Miller <notifications@github.com>
wrote:

[2021-02-22 16:13] douglasmiller commented on #664
I just opened a pull request that will fix the issue that you reported. Once it is merged, we will publish the fixed client.

[2021-02-22 16:38] douglasmiller commented on #664
@noctivityinc The [3.18.1 gem](https://rubygems.org/gems/recurly/versions/3.18.1) has been published. Thanks again for reporting this!

[2021-02-22 16:38] #664 closed

[2021-02-22 16:39] noctivityinc commented on #664
Thank you.  Ill give it a try.

On Mon, Feb 22, 2021 at 11:38 AM Douglas Miller <notifications@github.com>
wrote:

[2021-03-01 20:02] #662 closed

[2021-03-18 02:16] noctivityinc opened #675 "list_account_subscriptions example incorrect"
The list_account_subscriptions example says this:

[code]

Which is incorrect and caused a validation error.  You need to send params directly, like this:

[code]

Please update the README and docs.

[2021-03-18 12:30] noctivityinc opened #676 "Resuming paused subscription fails validation"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

**Describe the bug**

Is a subscription is paused, running ```resume_subscription``` fails.

**To Reproduce**

Steps to reproduce the behavior.

1. Create an active subscription
2. Pause li

[2021-03-18 12:58] noctivityinc opened #677 "How to get a count of returned subscriptions"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

When we use the `list_subscriptions` method, like this:
[code]

How can we get a COUNT of the number of results returned?  It's not in API response (which is odd) and if we try `subscriptio

[2021-03-18 13:00] noctivityinc commented on #677
According to the README, it SHOULD work, so this might be a bug...

[code]

[2021-03-18 13:43] noctivityinc commented on #664
@douglasmiller I think you missed one.  The `Recurly::Pager.count` method needs to be updated to work with Ruby 3.0

[2021-03-18 15:01] noctivityinc commented on #677
This is definitely related to Ruby 3.0.  Thanks

[2021-03-18 15:39] douglasmiller commented on #677
@noctivityinc, you're correct that this was missed in the changes for ruby 3.0.0. We'll get this fixed right away.

[2021-03-18 15:40] noctivityinc commented on #677
Thank you.   Ill keep pointing out more issues along that line that we
encounter.

On Thu, Mar 18, 2021 at 11:39 AM Douglas Miller ***@***.***>
wrote:

[2021-03-18 15:41] douglasmiller commented on #676
The `pause_subscription` operation will pause the subscription at the next renewal date. This can make it difficult to test the `resume_subscription` operation as you cannot immediately put a subscription into the `paused` state.

This is expected behavior since the currently active subscription should remain active until the end of the current billing cycle.

[2021-03-18 15:41] #676 closed

[2021-03-18 15:51] douglasmiller commented on #675
I saw in another issue that you're using the `3.18.1` version of the client. We released the `4.0.0` version of the client at the beginning of the month which changes this behavior.

The `master` branch is for the current `4.0.0` version of the client which pairs with the `2021-02-25` version of Recurly API. The `3.x` client pairs with the `2019-10-10` version of Recurly API and it's source can be

[2021-03-18 15:51] #675 closed

[2021-03-18 15:52] noctivityinc commented on #676
So you're saying that before we issue a resume_subscription we need to
first CHECK to see if it is "active" or "paused" and THEN if active issue
pause_subscription with a period of 0 and if paused them use resume?

That seems grossly inefficient.  Shouldn't that logic take place on the
SERVER side?  If you are allowing us to use pause_subscription when they
have an active subscription correctly th

[2021-03-18 15:54] noctivityinc commented on #675
@douglasmiller you may want to update the getting started, as this is right at the top:

[code]

[2021-03-18 15:57] douglasmiller commented on #675
Where are you seeing that? The [GETTING_STARTED on master](https://github.com/recurly/recurly-client-ruby/blob/master/GETTING_STARTED.md) has 4.0. If there's something off, I'd like to fix it.

[2021-03-18 15:59] noctivityinc commented on #675
Sorry @douglasmiller , this may be ANOTHER 3.0 issue.  I upgraded the gem to 4.0 as you requested and this is the method:

[code]

and I get this:

[code]

[2021-03-18 16:00] noctivityinc commented on #675
Relevant trace...

[code]

[2021-03-18 21:26] noctivityinc commented on #675
@douglasmiller any updates on this one?  I see it's still closed even though it appears broken.

[2021-03-18 21:39] douglasmiller commented on #675
The ruby 3.0.0 fixes were not included in the 4.0.0 client library release. They were merged up to the 4.x client branch in https://github.com/recurly/recurly-client-ruby/pull/671 which we will be releasing soon.

[2021-03-18 21:47] noctivityinc commented on #675
ahh - that explains what I just found.

When I use this:
```gem 'recurly', '~> 4.0'```

I get errors but when I reference the github branch directly:
[code]

Then it works properly.  Count still doesn't work, which I know you are fixing, but good to know about the other situation.  You guys really need to update your README for these situations.  I wasted the day.

[2021-03-19 22:37] douglasmiller commented on #675
@noctivityinc I just published the 4.0.1 version of the client which fixes this ruby 3.x issue with the `Pager#count` functionality.

[2021-03-30 08:36] scsmith opened #684 "Network error does not exist"
https://github.com/recurly/recurly-client-ruby/blob/a4bc826b4da8876ac138b38775d58c265fd6c1ad/lib/recurly/client.rb#L215 raises a network error. This error seems to have been removed. I'm happy to make a PR but I'm not sure what error it should be, APIError or something more specific?

[2021-03-30 15:22] douglasmiller commented on #684
Thank you for reporting this issue, @scsmith. We will fix this and provide an updated release soon.

[2021-03-30 22:42] #684 closed, assigned to douglasmiller

[2021-04-01 10:12] scsmith opened #686 "Calling .each on subscriptions does not work"
ArgumentError:
       wrong number of arguments (given 1, expected 0)

It's not immediately clear why this is happening but it seems like the iterator might be calling << on a resource rather than the `yielder`

A clear and concise description of what the bug is. Please include a full stack trace if available.

[code]

[code]

[code]

**Your Environment**

- Recurly 4.0.1
- Ruby 2.7

[2021-04-01 11:12] scsmith commented on #686
This can probably be closed, it does work with a block passed.

[code]

[2021-04-01 14:25] douglasmiller commented on #686
Thanks, @scsmith. As you found, this is expected behavior. The `Pager` resources are intended to be passed a block. We will close the issue, but investigate what can be done to support the usage pattern that you initially attempted.

[2021-04-01 14:25] #686 closed, assigned to nobody

[2021-06-29 22:21] marcmoy opened #708 "Add 'cc_bin_country` to BillingInfo object for V2"
For our subdomain, we are able to get `cc_bin_country` from the BillingInfo object. Could someone please add this for the V2 branch?

Example API response:
[code]

[2021-06-29 22:28] douglasmiller commented on #708
@marcmoy, support for `cc_bin_country` was added to the v2 client in the [2.18.21 release](https://github.com/recurly/recurly-client-ruby/releases/tag/2.18.21).

[2021-06-29 22:33] marcmoy commented on #708
Thanks

[2021-06-29 22:33] #708 closed, assigned to nobody

[2021-10-28 15:48] scsmith opened #737 "Unable to perform 3DS with Create Subscription as per docs"
I'm trying to implement 3DS. Whilst most of it has been working for a while we're now seeing a few new failures on create subscription.

Looking at the 3DS2 documentation (Step 6) https://developers.recurly.com/guides/3ds2.html#step-6-submit-new-purchase-request. It states:

"The three_d_secure_action_result_token_id is a valid parameter on the Create Billing Info endpoint and on any Recurly API e

[2021-10-28 17:25] tilley-kyle commented on #737
Hi @scsmith
If I am understanding your request/question correctly, you are asking about sending in the `three_d_secure_action_result_token_id` param into a create_subscription request because it isn't there?

If that is correct, then I can point out where the `three_d_secure_action_result_token_id` lives in that endpoint so you can handle that requirement. In this case looking at the [create subsc

[2021-11-01 13:41] scsmith commented on #737
Thanks, that resolved this. However, is there a reason why the create subscription change endpoint does not raise the 422 error and instead just returns a success and then goes into the dunning process?

[2021-11-01 20:54] tilley-kyle commented on #737
Great!
Can I get repro steps on what exactly you're doing as well as the id/uuid of the subscriptions you are attempting to make the change on? I was able to 'properly' go through the 3ds flow here and I'll need some more info on what is going wrong so we can solve this for you!

[2021-11-08 16:27] tilley-kyle commented on #737
I'm closing this one out since it's going stale. If you have any follow up you can reopen this or create a new issue.
Thank you!

[2021-11-08 16:27] #737 closed, assigned to nobody

[2021-12-30 21:25] pjg opened #742 "`sort` and `order` params are being ignored when listing account transactions"
**Describe the bug**

`sort` and `order` params are being ignored when listing account transactions.

**To Reproduce**

[code]

gives:

[code]

And using `order: 'asc'`:

[code]

gives the exact same, now incorrect list (should be reversed):

[code]

Note that a similar `list_account_subscriptions` method works properly.

**Expected behavior**

`order` param should be respected and the list should

[2022-01-04 17:24] douglasmiller commented on #742
Thank you for reporting this issue, @pjg.

This does appear to be a valid issue with the API. I will escalate this issue and leave your issue open until there is an update.

[2022-02-22 23:01] douglasmiller commented on #742
@pjg the fix for this issue has been deployed to the production environment.

Thank you again for reporting this to us. Please let us know if you encounter any other issues.

[2022-02-22 23:01] #742 closed, assigned to douglasmiller

[2022-02-27 06:59] jcw- opened #754 "Recurly nokogiri deprecation warnings"
Attempting to upgrade nokogiri to 1.13.3 results in the following deprecation message from the Recurly gem (API v2):

[code]

Would this be something that might get addressed in a future release on the v2 branch?

[2022-03-02 12:12] pjg commented on #742
@douglasmiller thank you for fixing this!

[2022-05-12 14:47] carlosantoniodasilva commented on #754
I have opened a PR #773 that should remove the warning, let me know if that ends up not working for you.

[2022-09-02 16:50] #677 closed

[2022-09-05 10:58] gagalago opened #791 "documentation github page not found"
**Describe the bug**

https://recurly.github.io/recurly-client-ruby/ is not found and is referenced in many place (readme of this repo, [api references](https://developers.recurly.com/api/)...)

**To Reproduce**

go on https://recurly.github.io/recurly-client-ruby/

**Expected behavior**

see ruby documentation

[2022-09-07 17:02] douglasmiller commented on #791
Thank you for letting us know about this, @gagalago ! We have restored the documentation page

[2022-09-07 17:02] #791 closed, assigned to nobody